[2021-03-11 08:19] NyakudyaA commented on #397
Maybe it's an issue with the layer name, maybe they are not being encoded properly

[2021-03-11 08:20] meomancer commented on #397
For example:
https://ggis.un-igrac.org/layers/?limit=5&offset=0&title__icontains=Suitable_area_recharge_dam0&abstract__icontains=Suitable_area_recharge_dam0&purpose__icontains=Suitable_area_recharge_dam0&f_method=or

when we click the layer, it gaves 404 not found, because the url is : https://ggis.un-igrac.org/layers/:geonode:
but the layer is there https://ggis.un-igrac.org/layers/geonode:Suitab

[2021-03-11 08:21] ArnaudIGRAC commented on #397
that is exactly the problem

[2021-03-11 08:21] meomancer commented on #397
i'm not sure @NyakudyaA
the detail url that saved is
![Selection_285](https://user-images.githubusercontent.com/4530905/110756942-66abf380-827d-11eb-988f-cbd86c6f70e8.png)

is it ok if i change it manually for now? (so we can wait for upgrading geonode that is coming)

[2021-03-11 08:22] clau1313 commented on #394
Hi @meomancer,
I see the stations and measurements only in 'well and monitoring data' but not in the GGMN viewer, both in staging and production.

[2021-03-11 08:22] ArnaudIGRAC commented on #397
this is what I wanted to do but I couldn't save my edits because of the keywords #396

[2021-03-11 08:54] meomancer commented on #397
hi @ArnaudIGRAC
i fixed everything
could you check it?
https://ggis.un-igrac.org/people/profile/krzysztof.janik/?limit=5&offset=0

[2021-03-11 09:06] meomancer commented on #394
hi @NyakudyaA
how did you do to remove all cache from geoserver?

on the geoserver viewer, the data on india already there
https://staging.igrac.kartoza.com/geoserver/groundwater/wms?service=WMS&version=1.1.0&request=GetMap&layers=groundwater%3AGroundwater_Well_GGMN&bbox=-159.5758333%2C-71.4605399058621%2C153.552097%2C68.3519845062498&width=768&height=342&srs=EPSG%3A4326&access_token=Keec2EDhq3VzP

[2021-03-11 09:11] NyakudyaA commented on #394
You need to go to the layer list and click the button empty cache
![empty](https://user-images.githubusercontent.com/2510900/110763403-8382ff80-825a-11eb-8a41-7406944edaaa.png)

[2021-03-11 09:13] meomancer commented on #394
thank you very much @NyakudyaA
@clau1313 it's fixed, could you check it?

[2021-03-11 09:22] ArnaudIGRAC commented on #397
I don't see the layers he uploaded yesterday and the day before.

[2021-03-11 10:40] meomancer commented on #397
what layers is it?
could we reupload @ArnaudIGRAC ? i'm not sure how to check it
because on the
https://ggis.un-igrac.org/en/admin/layers/uploadsession/
it is basically every upload that user did
and every layer on the uploadsession already in geonode

[2021-03-11 10:54] ArnaudIGRAC commented on #397
I don't remember the names but I could find out on GeoServer, they were there yesterday. Just give me access to GeoServer :)

[2021-03-11 10:56] meomancer commented on #397
I sent you an email to rizky too
it contains the username/password to geoserver
can you use that?

the email title is "Geoserver Access"

[2021-03-11 11:24] ArnaudIGRAC commented on #397
I haven't received anything (also checked my junk mail). Can you please send it again?
Also, it is not the regular procedure that I need to log in again in GeoServer... I hope it is just a temporary work around.

[2021-03-11 11:35] meomancer commented on #397
resent @ArnaudIGRAC

[2021-03-11 11:51] clau1313 commented on #394
thanks @meomancer it is working now.

[2021-03-11 11:51] #394 closed

[2021-03-11 13:19] ArnaudIGRAC commented on #397
Hi Irwan, one of the layers uploaded yesterday was
geonode:IBF_suitability_TEST1

[2021-03-11 13:31] meomancer commented on #397
@ArnaudIGRAC that layer has been pulled
https://ggis.un-igrac.org/layers/IBF_suitability_TEST1:geonode:IBF_suitability_TEST1
please check it

[2021-03-11 13:59] ArnaudIGRAC commented on #397
Thanks Irwan. There were 2 additional layers uploaded yesterday or the day before. I can't remember their names. Any possibility to restore these 2? Somehow they should appear in https://ggis.un-igrac.org/en/admin/layers/uploadsession/ ....

[2021-03-11 14:54] ArnaudIGRAC commented on #187
After you give admin rights to one user for his organisation (in Django https://ggis.un-igrac.org/en/admin/gwml2/organisation/), where can this new admin manage the users within his organisation?

[2021-03-12 02:12] meomancer commented on #397
hi @ArnaudIGRAC
I'm not sure how to restore it unless i know the layer name on geoserver
our layer on geonode is 736 layers, on the geoserver is 772
if we want to restore everything because we don't know the name, it will restore a lot of layer that i don't know it is needed on geonode or not

do you have suggestion in here @seabilwe @NyakudyaA ? is there any feature on geoserver that can sort lay

[2021-03-12 04:23] NyakudyaA commented on #397
@meomancer All layers that are uploaded are published in the geonode workspace. You can ideally get a list of all layers in the schema and compare against the layers registered in geonode.

Alternatively just run the update command specifying the geonode workspace and skip existing registered layers. This will publish all layers to the top of the list in Geonode

[2021-03-12 07:38] ArnaudIGRAC commented on #397
I will ask my colleague to reupload the 3 layers, I think it will take less time.
Can you please investigate on why his layers were not uploaded properly?

[2021-03-12 08:53] meomancer commented on #397
i think as i checked the https://ggis.un-igrac.org/en/admin/layers/uploadsession/
he select multiple files for 1 upload, like directly >5 layers
maybe it is heavy that creates error for some layers
but i'm not sure

we will upgrade the geonode like on SADC, hopefully it will fix this issue

[2021-03-12 09:01] meomancer commented on #187
hi @ArnaudIGRAC
they can organize their organisation in here

User can click "Organisation" on the top-right
![Selection_306](https://user-images.githubusercontent.com/4530905/110916966-f029f700-834b-11eb-9f73-32cbacac461f.png)

After clicked, they will see list of organisation
![Selection_307](https://user-images.githubusercontent.com/4530905/110917032-033cc700-834c-11eb-95ed-5c9c229e3b00.png)

C

[2021-03-14 18:17] timlinux commented on #383
Hi @ArnaudIGRAC could you confirm if we can close this now? Thanks and greetings!

[2021-03-15 02:22] meomancer commented on #383
This fixed deployed on 1.1.5
https://github.com/kartoza/IGRAC-GGIS/releases/tag/1.1.5

[2021-03-15 02:23] meomancer commented on #397
1.1.5 has been deployed
https://github.com/kartoza/IGRAC-GGIS/releases/tag/1.1.5

hopefully this error will be resolved

[2021-03-15 02:23] meomancer commented on #398
This fixed deployed on 1.1.5
https://github.com/kartoza/IGRAC-GGIS/releases/tag/1.1.5

[2021-03-15 02:23] meomancer commented on #395
Could you check and close this @ArnaudIGRAC ?

[2021-03-15 02:33] meomancer commented on #396
This fix has been deployed on 1.1.5
https://github.com/kartoza/IGRAC-GGIS/releases/tag/1.1.5

[2021-03-15 06:36] dimasciput opened #400 "The API for mobile app is not working anymore"
Since the new update all the API that used in mobile app is not working.

[2021-03-15 07:44] ArnaudIGRAC commented on #187
thank you Irwan!

[2021-03-15 07:44] #187 closed

[2021-03-15 07:45] #397 closed

[2021-03-15 07:45] #398 closed

[2021-03-15 07:46] #396 closed

[2021-03-16 09:59] ArnaudIGRAC commented on #52
@timlinux, as admin, could you please find out where the Spanish translation of Claudia has ended up (cfr messages above)? thanks

[2021-03-18 08:15] ArnaudIGRAC opened #401 "GGIS unavailable!"
![image](https://user-images.githubusercontent.com/64771599/111593617-6a360200-87ca-11eb-8f28-e76fdf8af055.png)

[2021-03-18 08:45] #400 closed

[2021-03-18 08:46] meomancer commented on #401
this is coming from rancher2 that container for ggis and also sadc staging is down
could you check this @lucernae ? I'm not familiar with rancher2 for this case

[2021-03-18 09:31] lucernae commented on #401
I'm on it. @ArnaudIGRAC @meomancer .
There seems to be some issue in the Hetzner side.

[2021-03-18 11:02] ArnaudIGRAC opened #402 "problems with layer uploads"
Our colleagues keep on having issues with layer uploads
They managed to upload one layer but it says "Layer not ready yet. Still finalizing layer ingestion..."
https://ggis.un-igrac.org/layers/:geonode:EXP_C45_2021_fs20_Sk_blank_rc

We have had that issue in the past but I thought it had been solved cfr https://github.com/kartoza/IGRAC-GGIS/issues/363

[2021-03-18 11:05] ArnaudIGRAC commented on #383
https://ggis.un-igrac.org/layers/geonode_data:geonode:WL_end_drilling

[2021-03-18 11:05] ArnaudIGRAC commented on #383
This layer can't be added to viewers. Please solve that issue once for all.
https://ggis.un-igrac.org/layers/geonode_data:geonode:WL_end_drilling

[2021-03-18 11:10] ArnaudIGRAC opened #403 "can't remove viewers"
I can't delete this viewer https://ggis.un-igrac.org/maps/2016

First
![image](https://user-images.githubusercontent.com/64771599/111616946-cc026600-87e2-11eb-9622-f0694288610e.png)
Then
![image](https://user-images.githubusercontent.com/64771599/111616968-d1f84700-87e2-11eb-9e48-da59923211df.png)

[2021-03-18 11:31] ArnaudIGRAC opened #404 "upload doesn't work"
Hi Irwan,

I can't upload this layer, can you tell me why? I thought there was an issue with the coordinate system but I still have the same issue after saving the layer in WGS84.
[test deepwater.zip](https://github.com/kartoza/IGRAC-GGIS/files/6163657/test.deepwater.zip)

[2021-03-18 11:39] ArnaudIGRAC commented on #383
Have a look here http://osgeo-org.1560.x6.nabble.com/Problem-GeoNode-OSGeoLive-13-0-Missing-OGC-reference-metadata-td5437840.html

[2021-03-18 11:47] ArnaudIGRAC opened #405 "can't connect to remote service"
Why can I not connect to this service?
https://www.gapmaps.org/geoserver/wms?
I get this error message:
![image](https://user-images.githubusercontent.com/64771599/111621185-f6a2ed80-87e7-11eb-87af-2572a1e251b0.png)
The service is working properly, see for instance https://www.gapmaps.org/geoserver/wms?REQUEST=GetMap&LAYERS=gap:arsenic2020&WIDTH=2500&HEIGHT=972&BBOX=-180.0,-56.0,180.0,84.0&FORMAT=

[2021-03-18 12:33] ArnaudIGRAC opened #406 "upload big layer"
Could you please upload this heavy layer for me?
https://we.tl/t-Z9XvAlLJK5

[2021-03-18 12:37] ArnaudIGRAC commented on #403
I deleted it in Django, but I guess I should be able to delete it directly in GeoNode

[2021-03-18 12:37] #403 closed

[2021-03-18 12:56] NyakudyaA commented on #405
@ArnaudIGRAC The problem is with the upstream resource. I tried to connect in QGIS and it also times out. Maybe we need to add a better error message asking users to inspect the upstream service

[2021-03-18 13:02] lucernae commented on #401
We've fixed it gradually. Frontend website got back up once I responded @meomancer 's ping.
Background services seems to be recovering gradually until I have to intervene myself.
All service running green now.

I checked a layer like this: https://ggis.un-igrac.org/layers/?limit=5&offset=0&title__icontains=EXP_C45_2021_fs20_Sk_blank_rc&abstract__icontains=EXP_C45_2021_fs20_Sk_blank_rc&purpose__ico

[2021-03-18 13:03] ArnaudIGRAC commented on #405
thanks @NyakudyaA. But if I can access the layers in a web browser (https://www.gapmaps.org/geoserver/wms?REQUEST=GetMap&LAYERS=gap:arsenic2020&WIDTH=2500&HEIGHT=972&BBOX=-180.0,-56.0,180.0,84.0&FORMAT=image%2Fpng&VERSION=1.1.1&SERVICE=WMS), there must be a way to also get them in GeoNode (on in QGIS)?

[2021-03-18 13:04] NyakudyaA commented on #383
Can you try again @ArnaudIGRAC

[2021-03-18 13:09] NyakudyaA commented on #405
@ArnaudIGRAC GeoNode basically looks at all layers available through a get capabilities request i.e https://www.gapmaps.org/geoserver/wms?REQUEST=GetCapabilities So this is what is taking time so maybe @lucernae needs to increase the timeout time in nginx so that the request goes on further than the allocated time

[2021-03-18 13:12] ArnaudIGRAC commented on #383
It works fine now, thanks!

[2021-03-18 13:12] #383 closed

[2021-03-18 13:28] ArnaudIGRAC commented on #385
I can't see the Gambia data

[2021-03-19 02:45] meomancer commented on #405
hi @ArnaudIGRAC
as per @NyakudyaA said that the request to get the wms has limit time. Currently the limit is 1 minute, need to increase the limit of nginx to more than that.

But i checked on my local which does not using nginx (so it is unlimited)
It is taking to long for the connection from the gapmaps and it returns "Request Time Out" from gapmaps too

So there is no way to fix it from our sid

[2021-03-19 02:58] meomancer commented on #401
this is fixed

[2021-03-19 03:00] meomancer commented on #402
this is fixed, currently the layer is ready, we can just make the layer as "ready"
i checked there are bunch uploads that coming, but this is just 1, so it is not consistencce error that it's hard to trace, so make layer as ready is quick solution for now

[2021-03-19 03:03] meomancer commented on #403
the problem was the server was down
it makes a configurations to the default, which is why it show 504
504 shows that we have reach the limit of time for connection, the default is 20 seconds
so the custom one was 2 minutes, but because server was down, it changed back to 20 seconds

[2021-03-19 03:05] meomancer commented on #385
this fixed @ArnaudIGRAC @clau1313

[2021-03-19 03:09] meomancer commented on #404
could you check this @NyakudyaA @seabilwe ?

[2021-03-19 03:18] meomancer commented on #406
Could you help upload this @seabilwe ?
please upload it on geoserver? because i checked it is not working on geonode because request time out, the layer is too big

[2021-03-19 05:42] dimasciput commented on #406
@meomancer ok let me try it

[2021-03-19 06:51] dimasciput commented on #406
@ArnaudIGRAC here's the layer https://ggis.un-igrac.org/layers/geonode_data:geonode:greece1

[2021-03-19 09:40] seabilwe commented on #404
Hi @ArnaudIGRAC @meomancer I have uploaded the layer. The only issue is the SLD, when applied to the layer nothing is rendered
![deepwater](https://user-images.githubusercontent.com/56301949/111760748-c15dd480-88a7-11eb-817d-25971828f042.png)

[2021-03-22 08:41] ArnaudIGRAC commented on #405
Thank you for your feedback. Is there a possibility to fetch one layer instead of a broad get capabilities request? This if for instance what I did for some FAO layers
http://data.fao.org/maps/wms?styles=geonetwork_DSMW_14116_style
http://data.fao.org/maps/wms?styles=geonetwork_dams_africa_38077_style
http://data.fao.org/maps/wms?styles=aquamaps_rivers_africa_37333_style

[2021-03-22 08:42] #401 closed

[2021-03-22 08:53] ArnaudIGRAC commented on #406
thank you

[2021-03-22 08:53] #406 closed

[2021-03-22 09:01] ArnaudIGRAC commented on #402
good, the layer is now ready in the system. Any idea why we get this message "Layer not ready yet. Still finalizing layer ingestion..."?

[2021-03-22 09:22] #385 closed

[2021-03-22 09:30] ArnaudIGRAC commented on #404
thank you Seabilwe, it also works on my side now. Maybe I couldn't upload it last week because of the server breakdown?

[2021-03-22 09:30] #404 closed

[2021-03-23 12:28] meomancer commented on #52
hi @timlinux @ArnaudIGRAC @clau1313
i think there is no solution for this, could we re translate it? thank you

[2021-03-24 07:05] lucernae commented on #360
Hi, some update.

@meomancer asked me to setup internal SMTP service using our normal `catatnight/postfix` docker image setup.
Credentials used are exactly the same as specified [here](https://github.com/kartoza/IGRAC-GGIS/issues/360#issue-799996146), except for the password (I generate a more secure password).

The email indeed came if you check the spam folder.

There are some question from me t

[2021-03-24 08:04] ArnaudIGRAC commented on #360
Hi Rizky, we decided that all correspondence would go or come from ggis@un-igrac.org. The rest of the discussion is too technical for me, I leave it to you and your colleagues.

[2021-03-24 13:54] ArnaudIGRAC commented on #402
This issue is still appearing, can we solve it once for all?
![image](https://user-images.githubusercontent.com/64771599/112321902-bb556280-8cb0-11eb-8630-de8585e7809a.png)

[2021-03-24 14:00] ArnaudIGRAC commented on #402
This is becoming urgent, we have had that issue for 2 months already.

[2021-03-25 02:35] meomancer commented on #402
hi @ArnaudIGRAC
this is deployment error (it happened when server was down)
could you reupload?

[2021-03-25 02:37] meomancer opened #408 "Deployment default"
hi @lucernae

could you help me setup deployment using correct configuration by default (example when the server was down before, the configuration turns to be incorrect)

1. On uwsgi.conf
    harakiri = 2400

2. local_settings.py
    DATABASE_URL = 'postgis://{}:{}@{}:{}/{}'.format(GEONODE_DATABASE_USER, GEONODE_DATABASE_PASSWORD, GEONODE_DATABASE_HOST, GEONODE_DATABASE_PORT, GEONODE_DATABASE)

[2021-03-25 04:14] lucernae commented on #408
We already put these configuration in place. If it gets deployed from kartoza/devops it will be applied.

More details:

Both of them are declared in separate configuration override files (So that it won't be accidentally rewritten by devs in Rancher):
https://github.com/kartoza/devops/blob/7da97371441b32d9ed852412da0b5eca7f02f19a/rancher-2.x/manifests/projects/ggis/geonode-ggis-override-config-co

[2021-03-25 04:42] meomancer commented on #408
we can close it for now until the error raise again
i'm sorry i don't remember which file that was wrong

[2021-03-25 04:42] #408 closed

[2021-03-25 07:57] ArnaudIGRAC commented on #402
But I uploaded these last layers yesterday, was the server down again?

[2021-03-25 08:18] clau1313 commented on #52
oh too bad, ok I will do it...

[2021-03-25 08:24] meomancer commented on #402
I'm not sure @ArnaudIGRAC
is there any statistic that we can check the server status @lucernae ?
so basically arnaud uploaded layer yesterday that the config changed
but on 23rd, it was working fine

[2021-03-25 09:41] meomancer commented on #52
Hi @clau1313 @ArnaudIGRAC
could you check the staging for translation? i already deploy it
if it is ok, i will release it on production

[2021-03-25 10:08] clau1313 commented on #52
@meomancer I am not done with the translation yet, please wait a bit

[2021-03-25 10:19] clau1313 commented on #52
@meomancer ok, I am done with the translation

[2021-03-25 10:39] meomancer commented on #52
hi @clau1313
i have merged and deployed it to staging
could you create new branch and push it so i can pull it?
thank you

[2021-03-25 10:44] meomancer commented on #52
ah, ok, i found it
please wait @clau1313

[2021-03-25 10:51] meomancer commented on #52
It is done, thank you @clau1313
could you check it on https://staging.igrac.kartoza.com/

CC @ArnaudIGRAC

if it is ok, i will release it to production

[2021-03-25 14:34] clau1313 opened #409 "Error in batch upload"
Hi @meomancer, I am trying to do a batch upload but I get an error in the ID column:
![image](https://user-images.githubusercontent.com/36033176/112490293-895f0180-8d7f-11eb-8785-95353cd645f7.png)

the file is this one:
[General_info_in_template.xlsx](https://github.com/kartoza/IGRAC-GGIS/files/6205458/General_info_in_template.xlsx)

What could be the problem?
Thanks!

[2021-03-25 15:14] ArnaudIGRAC commented on #52
Hey Irwan, I would like to revise the French translation before you put it in production. Where can I do that?

[2021-03-25 23:46] meomancer commented on #52
hi @ArnaudIGRAC
You can change the french in here:
https://github.com/kartoza/IGRAC-GGIS/blob/develop/django_project/igrac/locale/fr/LC_MESSAGES/django.po
https://github.com/kartoza/IGRAC-WellAndMonitoringDatabase/blob/1983ea28a9e73c0f605df9cf83f04e04a581aada/locale/fr/LC_MESSAGES/django.po

Thank you

[2021-03-26 01:12] meomancer commented on #409
hi @clau1313
it's fixed
please try it on staging for now

if it is urgent on the production, please create new column "Country" and just let it blank

[2021-03-26 01:16] meomancer opened #410 "Release 1.1.6"
We will release this version after the translation done

The features:
1. https://github.com/kartoza/IGRAC-GGIS/issues/52 : Translation. Need @ArnaudIGRAC revise before close this
2. https://github.com/kartoza/IGRAC-GGIS/issues/409 : Error batch upload, please test it on staging @clau1313
3. https://github.com/kartoza/IGRAC-Mobile/issues/51 : Some data does not validate correctly, example porosity

[2021-03-26 11:10] clau1313 commented on #409
hi @meomancer it is working well, thanks!

[2021-03-26 11:10] #409 closed

[2021-03-30 11:13] meomancer commented on #410
hi @ArnaudIGRAC and @clau1313
do you think the translation is finished? if yes, can we release it to production?
thank you

[2021-03-30 11:40] meomancer commented on #405
hi @seabilwe
could you help me registers those layer please?
thank you

[2021-03-31 07:03] ArnaudIGRAC commented on #410
Hello Irwan, I won't have the time to check the translation before next week. Is it ok if you release 1.1.6 into production and I modify the translation later on (maybe for the next release)?

[2021-03-31 11:53] ArnaudIGRAC opened #411 "info text when fetching data from GGIS through WMS"
I tried to fetch a layer from the GGIS in the SADC-GIP. I successfully connected to the GGIS server and was able to get the layer.
However, the abstract associated to our Geoserver seems outdated:
_Abstract: A compliant implementation of WMS plus most of the SLD extension (dynamic styling). Can also generate PDF, SVG, KML, GeoRSS. Hosted by Geodan._
Can you please update it?
![image](https://user-

[2021-03-31 12:30] meomancer commented on #410
yes @ArnaudIGRAC
i will release it tomorrow, meanwhile the revised translation can be released on 1.1.7

[2021-03-31 12:31] NyakudyaA commented on #411
Hi @ArnaudIGRAC What would you like the text to read. I can change it for you or alternatively, you can do the following
* navigate to the GeoNode
* Click on the GeoServer icon
* log in using the auth icon
* Under services in GeoServer select the `WMS`
* Edit the text and save it.

**NB** The `WMS`,`WFS` and `WCS` need to be updated

[2021-03-31 12:32] ArnaudIGRAC commented on #411
Thank you Admire, I will try to change it myself when I find the time.

[2021-03-31 12:32] #411 closed

[2021-04-01 02:10] meomancer commented on #410
1.1.6 has been released
Please check it on https://ggis.un-igrac.org/

[2021-04-01 06:35] ArnaudIGRAC opened #413 "multiple feature info appear when clicking on the map"
We had decided that only one data point would be selected when clicking on the map, so one feature box would display on the right. It doesn't seem to have been implemented.
![image](https://user-images.githubusercontent.com/64771599/113253116-1a286680-92c5-11eb-8c06-68086ec94757.png)

[2021-04-05 01:01] meomancer commented on #413
this is on mapstore, will ask @dimasciput for this

[2021-04-05 01:05] #410 closed

[2021-04-05 03:13] meomancer commented on #413
hi @ArnaudIGRAC @clau1313
This is fixeed, can you test it on staging? i will deploy it on 1.1.7

[2021-04-05 03:14] meomancer opened #414 "Release 1.1.7"
- Fix : https://github.com/kartoza/IGRAC-GGIS/issues/413
- Fix : https://github.com/kartoza/IGRAC-GGIS/issues/415
- Translation revision : waiting @ArnaudIGRAC revision

[2021-04-12 08:56] ArnaudIGRAC opened #415 "List of maps using this layer (bug)"
The map where this layer is used appears several times
https://ggis.un-igrac.org/layers/geonode_data:geonode:Global_MAR_Inventory
![image](https://user-images.githubusercontent.com/64771599/114368199-77ea6780-9b7d-11eb-9bd7-211b23677e0e.png)

[2021-04-12 09:25] ArnaudIGRAC commented on #52
Hello Irwan,

I have slightly revised the translation in French
[Doc 1 revised.txt](https://github.com/kartoza/IGRAC-GGIS/files/6295446/Doc.1.revised.txt)
[Doc 2 revised.txt](https://github.com/kartoza/IGRAC-GGIS/files/6295447/Doc.2.revised.txt)

[2021-04-12 12:00] ArnaudIGRAC opened #416 "well and monitoring data in external GeoNode platforms"
Dear colleagues,

The layer https://ggis.un-igrac.org/layers/groundwater:groundwater:Groundwater_Well can be accessed in other GeoNode platforms via remote services, like in the SADC-GIP or the ORASECOM platform. See for example
https://sadc-gip.org/maps/new?layer=httpsggisun-igracorggeoserverows:groundwater:Groundwater_Well&view=True
However, when you click on a data point in these platforms, the

[2021-04-12 12:38] NyakudyaA commented on #416
@ArnaudIGRAC I think the reason why that happens is that in the SADC the layer is a remote WMS and you cannot define how the metadata is defined in this context because WMS cannot expose column for the layer.
i.e https://sadc-gip.org/layers/httpsggisun-igracorggeoserverows:groundwater:Groundwater_Well/metadata
![widgets](https://user-images.githubusercontent.com/2510900/114395359-8c8a2800-9b9c-11e

[2021-04-12 14:05] ArnaudIGRAC commented on #416
Thank you Admire! By upstream enhancement do you mean something to be developed in those external platforms or in the GGIS?

[2021-04-12 14:33] NyakudyaA commented on #416
If we are to make the change it has to be done in the main GeoNode code and we can then pull the changes to the various instances we have.

Currently, the way it works can be summarised like

* In GeoNode add remote Service
* Geonode determines what type of service it is WMS/ ArcGIS or another GeoNode.
* It then exposes some limited functionality for that layer because it is an external service. i

[2021-04-12 15:06] ArnaudIGRAC commented on #416
Would you be able to estimate the size of this development? and would it have consequences for the stability and management of our current GeoNode platforms?

[2021-04-13 03:04] meomancer commented on #416
hi @ArnaudIGRAC
as per @NyakudyaA comment

this is limitation for using remote data
and also the graph is calling API on GGIS, that it will never work because it is in different domain

The development will taking a lot of time and this is already geonode development (not SADC anymore)

[2021-04-13 03:07] meomancer commented on #413
hi @ArnaudIGRAC @clau1313
could you please this this on staging and close this so i can release it to production?

[2021-04-13 05:27] meomancer commented on #415
Here is the analysis:

1. **Not BUG** : That layer are being used by multiple maps but they are have same name
Which are:
https://ggis.un-igrac.org/maps/1233
https://ggis.un-igrac.org/maps/2146
https://ggis.un-igrac.org/maps/2148
https://ggis.un-igrac.org/maps/2147
https://ggis.un-igrac.org/maps/2145

Please fix these by rename the map or remove it if there is duplication

2. **BUG** : One map has

[2021-04-13 05:37] meomancer commented on #52
hi @ArnaudIGRAC
I already deployed the revised translation on staging
Please check it https://staging.igrac.kartoza.com/

if it is ok, please close this and will be released on 1.1.7
https://github.com/kartoza/IGRAC-GGIS/issues/414

[2021-04-13 06:58] #52 closed

[2021-04-13 07:02] ArnaudIGRAC commented on #415
Thank you Irwan. The map was indeed duplicated 4 times by one user. I just deleted those duplicates.
![image](https://user-images.githubusercontent.com/64771599/114510235-b7c15580-9c36-11eb-90bc-7ccf6a8aa3d1.png)
Strange thing: a few days ago my colleague Stefan also inadvertently duplicated this map. Is there a bug somewhere? Or do these user _save the map as..._? Let's keep an eye on it.

[2021-04-13 07:02] #415 closed

[2021-04-13 07:03] #413 closed

[2021-04-13 07:15] ArnaudIGRAC commented on #416
Thank you for your feedback. Wouldn't it be easier if we set up the WFS between the Geoserver of the GGIS and the Geoserver of the SADC-GIP, without going through GeoNode? No need for development then.
Then the only issue left is for the graphs. But I suppose an url can be fixed. It is a matter of appending "https://ggis.un-igrac/..."
I am asking because of a project coming on with partner organis

[2021-04-13 16:04] NyakudyaA commented on #416
@ArnaudIGRAC You can import the well monitoring data as WFS within the SADC as https://ggis.un-igrac.org/geoserver/groundwater/ows?service=WFS&typeName=groundwater:Groundwater_Well

The only difference with this is that you would be able to configure the getfeatureinfo request to show up properly.
![capabilit](https://user-images.githubusercontent.com/2510900/114584058-8cfcee80-9c82-11eb-9879-8953

[2021-04-14 07:34] ArnaudIGRAC commented on #416
Thank you Admire, I can see the layer in the SADC-GIP now
https://sadc-gip.org/layers/httpsggisun-igracorggeoservergroundwaterowsservicewfstypenamegroundwatergroundwater_well:Groundwater_Well
But I can't open any attribute box, it doesn't seem to be working. Note that I also had issues when importing the layer as WFS in QGIS. Any idea why?

[2021-04-14 07:56] meomancer commented on #414
this is deployed
please try it @ArnaudIGRAC @clau1313

[2021-04-14 08:02] ArnaudIGRAC commented on #414
Hi Irwan, Map Layers is not translated properly in French. I proposed "Couches Cartographiques" in the files I shared with you, not "Couches de la carte"

[2021-04-15 07:22] meomancer commented on #414
hi @ArnaudIGRAC
Fixed, could you help me check the staging site?
i will release it in 1.1.7.1

[2021-04-15 07:24] #414 closed

[2021-04-15 14:19] ArnaudIGRAC opened #418 "Wagtail preview"
The review button in Wagtail doesn't work

![image](https://user-images.githubusercontent.com/64771599/114884741-4c2de280-9e06-11eb-93dc-4a5f6951547f.png)

I get:
![image](https://user-images.githubusercontent.com/64771599/114884818-5e0f8580-9e06-11eb-8035-20d96cfd8521.png)

[2021-04-15 14:20] ArnaudIGRAC opened #419 "Wagtail captions"
How can I write captions in Wagtail? Is it handled like plain text?

[2021-04-15 15:33] ArnaudIGRAC opened #420 "Wagtail title"
Where can I change the title of the menu tree "GGIS IGRAC Docs"?
![image](https://user-images.githubusercontent.com/64771599/114896485-aaf85980-9e10-11eb-9c27-92d54ba72e9e.png)

[2021-04-16 01:54] meomancer commented on #420
This is hardcoded @ArnaudIGRAC
I'm going to make it able to be setup on admin site

[2021-04-16 01:55] meomancer commented on #419
what is this captions @ArnaudIGRAC ?

[2021-04-20 06:53] ArnaudIGRAC commented on #420
"GGIS Documentation"

[2021-04-20 07:39] ArnaudIGRAC commented on #419
I would like to write legends below the figures. I used italic text but I wondered if there is something special for that, like in Word.

[2021-04-20 07:41] ArnaudIGRAC opened #421 "Google Analytics"
How shall we collect stats in the GGIS? We already have a google analytics account, here is our tracking  ID: UA-33907968-5.
cfr https://github.com/kartoza/SADC-GIP-Support/issues/27

[2021-04-20 07:54] ArnaudIGRAC commented on #416
Dear colleagues, can you please follow up on this? We will be engaging with partner organisations very soon so it is important for us to know what we can offer.

[2021-04-20 09:47] ArnaudIGRAC commented on #405
Dear colleagues, any update on this?

[2021-04-21 04:00] meomancer commented on #418
This is fixed, could you try @ArnaudIGRAC ?

[2021-04-21 04:00] meomancer commented on #420
This is fixed on staging
could you check it on staging?
I will release it on 1.1.8

[2021-04-21 04:02] meomancer commented on #419
hi @ArnaudIGRAC
I added new format of image
When you add image into page, you need to choose "Captioned" format
And put "Alt text" as the caption
![Selection_069](https://user-images.githubusercontent.com/4530905/115495003-ed96b780-a290-11eb-9f36-6f3b4c99eaa5.png)

Here is the example on staging
https://staging.igrac.kartoza.com/about/japanese-test/

i will release it on 1.1.8

[2021-04-21 04:04] meomancer opened #422 "Release 1.1.8"
- Fix https://github.com/kartoza/IGRAC-GGIS/issues/419
- Fix https://github.com/kartoza/IGRAC-GGIS/issues/420
- Fix translation : https://github.com/kartoza/IGRAC-GGIS/issues/414
- Update : https://github.com/kartoza/IGRAC-GGIS/issues/425
- Add : https://github.com/kartoza/IGRAC-GGIS/issues/421
- Fix : https://github.com/kartoza/IGRAC-GGIS/issues/416

[2021-04-21 07:09] ArnaudIGRAC commented on #418
thank you Irwan!

[2021-04-21 07:09] #418 closed

[2021-04-21 07:09] ArnaudIGRAC commented on #420
Fine!

[2021-04-21 07:20] ArnaudIGRAC commented on #419
Thank you Irwan.

[2021-04-21 09:51] #402 closed

[2021-04-21 09:53] ArnaudIGRAC opened #423 "can't replace layer"
I try to replace https://ggis.un-igrac.org/layers/geonode:transboundary_aquifers_basicinformation with the layer hereby attached. I get the following error message.
![image](https://user-images.githubusercontent.com/64771599/115534562-32721c80-a298-11eb-85bd-47dfd629faaf.png)

Can you please tell me what is going wrong?
[transboundary_aquifers_basicinformation.zip](https://github.com/kartoza/IGRAC

[2021-04-21 11:13] ArnaudIGRAC opened #424 "no access to GeoServer"
When accessing GeoServer from GeoNode I need to log in again, but my credentials don't work.

[2021-04-21 14:08] ArnaudIGRAC opened #425 "Wagtail expand left menu"
Would it be possible to make child pages visible in the left menu? like
![image](https://user-images.githubusercontent.com/64771599/115567610-bc7fac80-a2bb-11eb-91f3-e8a05658acd3.png)
Per default all child folders are collapsed

[2021-04-22 06:57] NyakudyaA commented on #405
@ArnaudIGRAC Which layers do you need for us to register.

[2021-04-22 07:00] ArnaudIGRAC commented on #405
There are two layers (and their color scales):

http://www.gapmaps.org/geoserver/wms?REQUEST=GetMap&LAYERS=gap:arsenic2020&WIDTH=2500&HEIGHT=972&BBOX=-180.0,-56.0,180.0,84.0&FORMAT=image%2Fpng&VERSION=1.1.1&SERVICE=WMS

http://www.gapmaps.org/geoserver/wms?REQUEST=GetLegendGraphic&LAYER=gap:arsenic2020&FORMAT=image%2Fpng&VERSION=1.1.1&SERVICE=WMS

http://www.gapmaps.org/geoserver/wms?REQUEST=GetMa

[2021-04-22 22:27] lucernae commented on #317
I need to raise this issue again as I believe the recent attack to GGIS Server is due to it's weak postgres password.
I don't have a proof yet, but so far this problem happens on a server that uses default postgres password for geonode.

If my suspicion is correct, that means the attacker is capable of executing shell scripts from just SQL command, even though the connection to postgres is interna

[2021-04-23 01:24] NyakudyaA commented on #317
Using the default password is never a good idea. I think your suspicion is correct.

I think this should be an ad hoc command. But first we need to identify role --> database association from the REST API list.

 Then we rollout credential changes by executing PUT command for impacted datastores to change the role + password. Finally, we switch GeoNode's database credentials to use the new role by

[2021-04-26 02:24] meomancer commented on #423
hi @ArnaudIGRAC
it seems there are 2 layers for that shapefile
https://ggis.un-igrac.org/layers/geonode:transboundary_aquifers_basicinformation
https://ggis.un-igrac.org/layers/twap.gwshare:transboundary_aquifers_basicinformation

could you check they are same or different?
if different, we can rename the new one to other title, because the name are same "transboundary_aquifers_basicinformation"

[2021-04-26 02:37] meomancer commented on #416
hi @NyakudyaA
could you help me check this?

[2021-04-26 07:01] NyakudyaA commented on #405
@meomancer This service is extremely slow to do a getcapabilties request so even if you request a single layer is still times out because the server still does a getcapabiltiies for the whole server. So upstream improvements could help this issue
* When a request is done and in the URL there is `Layer` defined do a getcapabitlies for a single layer than the whole server i.e http://osgeo-org.1560.x

[2021-04-26 07:04] meomancer commented on #405
hi @lucernae
could you help me increase the timeout for nginx?
The uwsgi timeout is 1200 or around 20 minutes, but the request time out is just around 1 minutes
i think it is coming from nginx?

[2021-04-26 07:06] meomancer commented on #405
hi @NyakudyaA
thank you

hi @ArnaudIGRAC
yes, as per i said in here
https://github.com/kartoza/IGRAC-GGIS/issues/405#issuecomment-802498711

we need to ask the service to increase their time out
and also the comments from admire

[2021-04-26 07:17] NyakudyaA commented on #416
@meomancer Yes, the wfs standard does not support getfeature info requests. I completely forgot about that when I suggested the import using wfs.

So what I suggest is that you revert back to using the remote WMS service. Then after importing the layer you edit the metadata for the layer. Instead of using the default getfeatureinfo template you then use a custom getfeatureinfo template
![Screensho

[2021-04-28 09:24] ArnaudIGRAC commented on #405
Thank you for your feedback. Would it be possible to shortcut these limitations by importing the layers straight into GeoServer?
https://docs.geoserver.org/latest/en/user/data/cascaded/wms.html

[2021-04-28 10:20] ArnaudIGRAC commented on #424
Any help on that issue?

[2021-04-28 11:02] ArnaudIGRAC commented on #423
Hi Irwan, I didn't think the name would be an issue since the two layers are in different stores. Can you please address #424 so I can modify the layer's name?

[2021-04-29 03:35] meomancer commented on #423
hi @ArnaudIGRAC
this is from the code on the geonode
when replace, it just check the name of the layer (not with store)
so it will check the layer that has name "transboundary_aquifers_basicinformation"
and on current ggis, we have 2 layer has that name "transboundary_aquifers_basicinformation"

yes, this is the solution, we need to modify the layer name (and also pull it on geonode)

or maybe we

[2021-04-29 04:06] meomancer commented on #424
hi @ArnaudIGRAC

Your username does not exist in geoserver, that's why you can't login.
I think when changed to production, the settings were ressetted.

i send you the credential to the geoserver through email

[2021-04-29 06:36] meomancer commented on #425
hi @ArnaudIGRAC
Updated, could you check on the staging?

it will be released in 1.1.8

[2021-04-29 06:37] meomancer commented on #421
hi @ArnaudIGRAC
Added, could you check on the staging and the google analytics?
The request has been sent to google analytics

it will be released in 1.1.8

[2021-04-29 06:53] meomancer commented on #416
hi @ArnaudIGRAC
can you check this layer?
https://sadc-gip.org/layers/httpsggisun-igracorggeoserverwms:groundwater:Groundwater_Well

I created it using WMS and also the template is same with ggis

NOTE:
- we can't show the graph because it is in different domain, graph is using iframe

[2021-04-29 08:15] ArnaudIGRAC commented on #416
Thank you Irwan, this is great, really!
Regarding the graph, there is a possibility to include iframe in TINY, so I believe you could call the graph from the GGIS. Could we discuss that next week before you go on leave?

[2021-04-29 08:31] meomancer commented on #416
hi @lucernae
could we whitelist the sadc to the GGIS using CORS_ORIGIN_WHITELIST?
so the iframe can be rendered?

For now i added the graph iframe so we can test it while change the setting on ggis
![Selection_130](https://user-images.githubusercontent.com/4530905/116522949-ea8a6f80-a8ff-11eb-9d82-80c0058f81b5.png)

[2021-04-29 10:34] ArnaudIGRAC commented on #423
Thank you Irwan

[2021-04-29 10:34] #423 closed

[2021-04-30 03:21] meomancer commented on #416
hi @ArnaudIGRAC
This is fixed
Now the chart shows nicely on sadc
please check it
https://sadc-gip.org/layers/httpsggisun-igracorggeoserverwms:groundwater:Groundwater_Well

The fix already deployed to production with 1.1.8

[2021-04-30 03:21] meomancer commented on #422
This has been released and deployed @ArnaudIGRAC @clau1313

[2021-04-30 03:21] #422 closed

[2021-04-30 03:22] meomancer commented on #419
hi @ArnaudIGRAC
this fix has been deployed to production
could you check it and close this?

[2021-04-30 03:22] meomancer commented on #420
hi @ArnaudIGRAC
this fix has been deployed to production
could you check it and close this?

[2021-04-30 03:22] meomancer commented on #421
hi @ArnaudIGRAC
this fix has been deployed to production
could you check it and close this?

[2021-04-30 03:23] meomancer commented on #425
hi @ArnaudIGRAC
this fix has been deployed to production
could you check it and close this?

[2021-04-30 06:10] lucernae commented on #317
I have rolled out the new credentials changes.
I give write access to all the tables in the db/schema, hopefully the WFS transaction will work.
@NyakudyaA can you please check the WFS transaction?
After that, we can close the ticket.

[2021-04-30 06:15] NyakudyaA commented on #317
@seabilwe can you check this. Basically all you need to do is select a layer in geonode and edit the data, make sure the changes are being saved.

[2021-04-30 06:39] NyakudyaA commented on #317
@lucernae I have tested this with a single layer and it works, we can close the ticket

[2021-05-03 07:16] #425 closed

[2021-05-03 07:18] #420 closed

[2021-05-03 07:19] #419 closed

[2021-05-03 07:20] ArnaudIGRAC commented on #416
This is great Irwan, a big added value for our partners. Thank you very much!

[2021-05-03 07:35] ArnaudIGRAC commented on #424
I can access GeoServer since the new release in production

[2021-05-03 07:35] #424 closed

[2021-05-03 07:36] ArnaudIGRAC opened #427 "staging --> 502 Bad Gateway"
The staging GGIS is not available

[2021-05-03 07:42] meomancer commented on #427
Fixed @ArnaudIGRAC

[2021-05-03 07:53] #427 closed

[2021-05-06 10:06] ArnaudIGRAC opened #429 "Download well and monitoring data doesn't work"
Dear colleagues, the download functionality of wells and monitoring data doesn't work. It keeps on loading and nothing happens.
![image](https://user-images.githubusercontent.com/64771599/117280683-232bcb00-ae63-11eb-807c-d48ba2904083.png)

[2021-05-10 06:41] ArnaudIGRAC commented on #421
hi Irwan, it doesn't seem to be working, we see no activity

[2021-05-10 08:12] ArnaudIGRAC opened #430 "duplicated attributes"
The attributes of this layer https://ggis.un-igrac.org/maps/new?layer=geonode:transboundary_aquifers_basicinfo&view=True are all duplicated. Any idea why?
![image](https://user-images.githubusercontent.com/64771599/117627038-0c91b680-b178-11eb-9dfd-ccc484e527b0.png)

[2021-05-10 09:55] ArnaudIGRAC opened #431 "basemap switcher"
For now we only have OSM in the background, which is ok but quite challenging if you work in arabic or russian countries for example. Could we offer some more basemaps to our users?

[2021-05-12 13:30] clau1313 opened #432 "[GGMN] Data from Norway are not assigned to any organization"
Example:
![image](https://user-images.githubusercontent.com/36033176/117983026-dd757380-b336-11eb-87e3-f5d2daa999c9.png)

We already have a organisation for Norway, it is called "Norwegian Water Resources and Energy Directorate NVE (Norway)"

[2021-05-17 13:29] ArnaudIGRAC opened #433 "show full time series"
We have got a sample well from Norway, which was uploaded to the GGIS. It includes groundwater level and temperature data:
https://ggis.un-igrac.org/groundwater/record/29075/

Everything is fine but when we want to visualize the data (through the graphs in the form) we have to click 1000 times in “Load more” because it adds data week by week and the series starts in 2012.

Were we not supposed to

[2021-05-18 07:07] dimasciput opened #434 "Trend analysis chart"
Show trend linear analysis in the well monitoring chart.

![image](https://user-images.githubusercontent.com/1979569/118607010-4a2eb900-b7e2-11eb-811a-e6f9f3888471.png)

[2021-05-18 10:39] ArnaudIGRAC opened #435 "self-created layer"
This layer says it was created on 15/5 by me, but I didn't. Very strange!
https://ggis.un-igrac.org/layers/httpmapsrefbrgmfrwxs1ggigc35_cgmw_brgm_africa_geology:AFR_CGMW_BRGM_10M_Oceanic_cob

[2021-05-18 12:36] dimasciput commented on #433
Hi @ArnaudIGRAC ,

The chart will only appear in the mapstore but I think we can also add it to the form.
Would you like to have a different button for aggregate chart? Or should we just replace the groundwater chart with the aggregate chart like in the mapstore?

![image](https://user-images.githubusercontent.com/1979569/118651802-1b2f3c00-b810-11eb-8dea-2c31bd5e187b.png)

[2021-05-18 13:53] ArnaudIGRAC commented on #433
The buttons in mapstore are fine but only the average is shown. Because of memory issues I think.
Ideally, we would like to
- show individual data AND the average
- let the user decide if he want to see the entire time series or only a subset (in that latter case he defines the interval "from... until...")
I suggest we discuss it next time we meet, once you have shared the cost estimation for the

[2021-05-19 08:58] ArnaudIGRAC opened #436 "GGIS is down"

[2021-05-24 01:25] meomancer commented on #436
could we close this @ArnaudIGRAC ?

[2021-05-24 01:29] meomancer commented on #435
hi @ArnaudIGRAC
i'm not sure how to check this.
Maybe someone use your account and create it?
Or maybe someone that is admin create that layer and change the responsibility to you?

CC @seabilwe @NyakudyaA @clau1313
did one of you create it?

thank you

[2021-05-24 01:41] meomancer commented on #433
hi @ArnaudIGRAC

the problem is the chart in https://ggis.un-igrac.org/groundwater/record/29075/ is based on the rows on the measurement table. This needs to be individuals because the chart need to be updated based on the measurements that user change or added in the edit.

The chart are same with
https://ggis.un-igrac.org/groundwater/record/29075/edit
https://ggis.un-igrac.org/groundwater/record

[2021-05-24 01:48] meomancer commented on #432
hi @clau1313
this is coming from ggmn that it didn't have organisation
If the organisation just created, we need to assign it manually

we can edit it in
https://ggis.un-igrac.org/groundwater/record/53/edit

or should i edit it manually? i'm not sure what wells that should be in that organisation

[2021-05-24 02:10] meomancer commented on #421
could you give me access to the google analytics @ArnaudIGRAC ?

[2021-05-24 02:14] meomancer commented on #431
hi @ArnaudIGRAC
what basemap should we add?

[2021-05-24 03:59] meomancer commented on #430
yes, i think this is coming from geonode
but we can change it on metadata, dataset attributes
i already fix it, can you check it @ArnaudIGRAC ?

[2021-05-24 04:05] meomancer commented on #429
hi @dimasciput
could you help me change the url on the mapstore?

![Selection_140](https://user-images.githubusercontent.com/4530905/119294871-a892e600-bc7f-11eb-82ac-a09b63098929.png)
on mapstore, it is using old url
https://ggis.un-igrac.org/groundwater/well/download/

it has been changed to
https://ggis.un-igrac.org/groundwater/record/download/

[2021-05-24 04:16] meomancer commented on #433
for peformance, @dimasciput said that we can use
https://www.highcharts.com/demo/line-boost

but it is not free

[2021-05-24 08:42] meomancer commented on #433
hi @ArnaudIGRAC
could you check on staging:

when we are in read mode : https://staging.igrac.kartoza.com/groundwater/record/698/
it will show graph like mapstore

when we edit : https://staging.igrac.kartoza.com/groundwater/record/698/edit
it shows individuals graph

[2021-05-25 07:36] #436 closed

[2021-05-25 07:37] #435 closed

[2021-05-25 07:48] ArnaudIGRAC commented on #433
Thank you Irwan, I wouldn't make any change for now, we need to discuss first.

[2021-05-25 07:54] ArnaudIGRAC commented on #431
Good question :D
There is this basemap from WMO http://www.wmo.int/cpdbmap/#graybasemap/ol3. Nice but it shows only the countries.
If I remember we also had a mapbox basemap in the previous GGIS.
Any suggestion?

[2021-05-25 08:04] ArnaudIGRAC commented on #430
Thank you

[2021-05-25 08:04] #430 closed

[2021-05-25 08:11] meomancer commented on #433
yes @ArnaudIGRAC

[2021-05-25 08:16] ArnaudIGRAC commented on #433
so what was the rationale for showing the average only?

[2021-05-25 08:28] dimasciput commented on #433
1. The result of the calculation is smaller in terms of the size, so the frontend won't have to wait a long time to download the data.
2. The library that generate and draw the chart is not very good at handling large data. It will also make the browser really slow as it will use up a lot of memory.

@ArnaudIGRAC @meomancer

[2021-05-28 08:10] clau1313 opened #437 "Do "empty tiled-layer cache" automatically for GGMN app"
When new data is added in the database via the GGMN app, it does not show on the GGMN platform yet, because the layer is using cache to increase performance. To refresh it, somebody needs to go to https://ggis.un-igrac.org/layers/groundwater:groundwater:Groundwater_Well_GGMN and do "Empty Tiled-Layer Cache" manually.

This process should be done automatically.

[2021-06-03 09:59] ArnaudIGRAC commented on #429
hello colleagues, any update on that issue?

[2021-06-03 10:02] timlinux commented on #437
@meomancer and @NyakudyaA Maybe we can just disable the cache and see how the performance is? Alternatively can we trigger a cache rebuild on inserts to the database?

[2021-06-03 10:07] timlinux commented on #431
![image](https://user-images.githubusercontent.com/178003/120627548-af79df80-c45b-11eb-97b7-ee311a89d18f.png)

![image](https://user-images.githubusercontent.com/178003/120627718-da643380-c45b-11eb-9147-f0c363ac0647.png)

[2021-06-03 10:15] NyakudyaA commented on #437
The best solution would be a python function in the DB that is called on each insert to flush the gwc cache otherwise we can disable the cache for that layer provided the styling is optimised properly and the layer doesn't contain a lot of data.

Should I disable the cache for this layer and see how the performance is for this specific layer @timlinux

[2021-06-03 10:16] NyakudyaA commented on #431
Alternative basemaps http://leaflet-extras.github.io/leaflet-providers/preview/

[2021-06-03 10:19] timlinux commented on #431
So after discussing with @ArnaudIGRAC :

Fix the bug where the basemap switcher does not show until you hide the side panel. Then add to the layer switcher:

![image](https://user-images.githubusercontent.com/178003/120629107-60cd4500-c45d-11eb-834c-ac0e43187550.png)

This layer:

http://www.wmo.int/cpdbmap/#graybasemap/ol3.

[2021-06-03 12:16] clau1313 opened #438 "Getting data from Norway automatically"
Hi @timlinux, @meomancer, @dimasciput, @ArnaudIGRAC

The platform from Norway: https://sildre.nve.no/map?lang=en
The Norwegian Water Resources and Energy Directorate (NVE) is in charge of it.
Link to NVE Hydrological API (HydAPI): https://hydapi.nve.no/UserDocumentation/
My contact at NVE is Fred Wenger (fwe@nve.no)

Please let me know if you need anything else!

[2021-06-03 12:34] clau1313 opened #439 "Getting data from Canada automatically"
Hi @timlinux, @meomancer, @dimasciput, @ArnaudIGRAC

The platform from Canada: https://gin.gw-info.net/service/api_ngwds:gin2/en/gin.html
Map viewer: https://gin.gw-info.net/service/api_ngwds:gin2/en/wmc/standard.html
The Natural Resources Canada (NRCan) Groundwater Program is in charge of it.
Link to the tools offered by the system: https://gin.gw-info.net/service/api_ngwds:gin2/en/gin/undertheho

[2021-06-03 12:58] clau1313 opened #440 "Getting data from Sweden automatically"
Hi @timlinux, @meomancer, @dimasciput, @ArnaudIGRAC

The platform from Sweden: https://www.sgu.se/grundvatten/grundvattennivaer/matstationer/
The Geological Survey of Sweden (SGU) is in charge of it.
Here is some information about how to retrieve and download data from the system, but it is all in Swedish: https://www.sgu.se/produkter/geologiska-data/oppna-data/grundvatten-oppna-data/grundvattenni

[2021-06-09 02:26] meomancer commented on #429
hi @dimasciput
could you help me take look for this please?

[2021-06-09 02:27] meomancer commented on #421
i will check it tomorrow @ArnaudIGRAC
will try to use my google analytics to test it

[2021-06-10 23:56] clau1313 commented on #437
Hello everyone, are there any news about this?

Thanks!

[2021-06-11 03:52] meomancer commented on #437
hi @timlinux @NyakudyaA @clau1313
i already disabled the cache
could you check the peformance?
https://ggis.un-igrac.org/view/well-and-monitoring-data

we can compare with staging that is still in cache
https://staging.igrac.kartoza.com/view/well-and-monitoring-data

is this correct that i just turn this off? @NyakudyaA
![image](https://user-images.githubusercontent.com/4530905/121628183-f6428780-

[2021-06-11 04:44] meomancer commented on #421
hi @ArnaudIGRAC,
i put wrong ID, now it's fixed (using UA-33907968-5)
could you check it?

[2021-06-11 05:00] NyakudyaA commented on #437
That's correct @meomancer

[2021-06-17 13:49] clau1313 commented on #437
I tried the app again and it seems that the problem is solved :) thank you!

[2021-06-17 14:49] ArnaudIGRAC commented on #429
Dear colleagues, this is pending for quite some time, let's round it off

[2021-06-17 14:50] ArnaudIGRAC commented on #431
Any update on this?

[2021-06-21 02:28] dimasciput commented on #431
@ArnaudIGRAC working on it today

[2021-06-21 09:43] dimasciput commented on #431
Hi @ArnaudIGRAC @clau1313 , I have fixed this issue, please test it on the staging site.

This link no longer exists, so I added another basemap called CartoDB - Positron, please give it a try.

[2021-06-21 09:44] dimasciput commented on #429
@ArnaudIGRAC @clau1313 this issue has been resolved, please test it on staging.

[2021-06-21 10:35] ArnaudIGRAC commented on #431
It works fine, thank you!

[2021-06-21 10:35] #431 closed

[2021-06-21 10:56] ArnaudIGRAC commented on #429
hi Dimas, it seems to work but the download is very very slow. I tried downloading this well https://staging.igrac.kartoza.com/groundwater/record/1/
It takes 1 min per % download on average

[2021-06-21 11:52] dimasciput commented on #429
Hi @ArnaudIGRAC I'm not sure about that, @meomancer can you check this issue?

[2021-06-22 04:09] meomancer commented on #429
hi @ArnaudIGRAC @dimasciput
i will check it later this week
did you filter the data or download it all @ArnaudIGRAC ?

[2021-06-22 06:15] meomancer commented on #437
could we close this @clau1313 ?

[2021-06-22 07:09] ArnaudIGRAC commented on #429
I had filtered them

[2021-06-22 07:54] dimasciput opened #442 "Change charting library"
Previously we used chart.js as a charting library, it doesn't work well with large data that the system has.
So we are going to change the library to highcharts instead.
See some demo here : https://www.highcharts.com/demo.

@ArnaudIGRAC or @clau1313 needs to buy the license to use this library.

[2021-06-22 12:57] #437 closed

[2021-06-22 13:05] clau1313 commented on #438
Hi everyone, is there any update?

[2021-06-22 13:05] clau1313 commented on #439
Hi everyone, is there any update?

[2021-06-22 13:05] clau1313 commented on #440
Hi everyone, is there any update?

[2021-07-01 14:05] clau1313 opened #443 "Deleting wells from GGMN"
Good afternoon, I would like to delete wells from Switzerland that are in the GGMN, but I cannot find a way to do so... can you please help me?

I see this:

![image](https://user-images.githubusercontent.com/36033176/124137452-ffad8700-da85-11eb-9d20-86e2c047e85e.png)

There should be a button somewhere to delete the selected well, no?

Can you please help me? Thank you

[2021-07-01 14:26] meomancer commented on #443
hi @clau1313
To delete selected one, click bottom selection and there will be selection like this
![Selection_292](https://user-images.githubusercontent.com/4530905/124140721-ed960d80-dab2-11eb-957d-470115b8def3.png)

After that click go
![Selection_292](https://user-images.githubusercontent.com/4530905/124140764-f7b80c00-dab2-11eb-81b6-44178b629297.png)

[2021-07-01 14:54] clau1313 commented on #443
Thanks @meomancer!!

[2021-07-01 14:54] #443 closed

[2021-07-05 07:40] ArnaudIGRAC commented on #421
this is working fine, thank you Irwan

[2021-07-05 07:40] #421 closed

[2021-07-05 08:23] ArnaudIGRAC commented on #429
Dear colleagues, any update on this? It is pending for more than 2 months now :(

[2021-07-05 08:30] ArnaudIGRAC commented on #442
Hi Dimas, We are a non-profit organization so we are allowed to use the code free of charge under the license Creative Commons Attribution-NonCommercial 3.0 (I have already requested and received a license for IGRAC). You can go on with this development.

[2021-07-05 08:51] dimasciput commented on #442
@ArnaudIGRAC that's a great news

[2021-07-05 09:26] meomancer commented on #429
hi @ArnaudIGRAC
the fix is still on staging
i will release it to production tomorrow

[2021-07-05 12:55] ArnaudIGRAC commented on #431
Please don't forget to implement that development in production

[2021-07-06 07:37] meomancer commented on #431
Deployed @ArnaudIGRAC

[2021-07-06 07:39] meomancer opened #445 "Download link of mapstore is to staging"
Hi @dimasciput
Can you check this?
When we download in production, it is using staging link
![Selection_313](https://user-images.githubusercontent.com/4530905/124561366-02362500-de68-11eb-9972-76de1c845285.png)

[2021-07-06 07:40] meomancer commented on #429
This is deployed @ArnaudIGRAC, and now it is able to download
but we have bug that the link that show on mapstore is using staging
https://github.com/kartoza/IGRAC-GGIS/issues/445

For now please using "Well Data Download List" for now until this is fixed
![Selection_314](https://user-images.githubusercontent.com/4530905/124561430-167a2200-de68-11eb-8038-e134d8785e37.png)

[2021-07-07 04:30] meomancer commented on #429
This is fixed, thank you @dimasciput
Can you check it @ArnaudIGRAC ?

[2021-07-07 06:56] ArnaudIGRAC commented on #429
it seems to be working, thank you

[2021-07-07 06:56] #429 closed

[2021-07-12 02:07] meomancer commented on #445
this is fixed

[2021-07-12 02:07] #445 closed

[2021-07-12 02:08] meomancer commented on #433
This will be fixed by https://github.com/kartoza/IGRAC-GGIS/issues/442

[2021-07-13 05:50] meomancer commented on #440
hi @clau1313
What is the organisation for the incoming data?

[2021-07-13 05:53] meomancer commented on #439
hi @clau1313
What is the organisation for the incoming data?

[2021-07-13 05:53] meomancer commented on #438
hi @clau1313
What is the organisation for the incoming data?

[2021-07-13 06:09] meomancer commented on #439
hi @clau1313
which data should i fetch?
is there any API for us to fetch the data?

[2021-07-13 06:44] meomancer commented on #438
Note for me:
To get all station:
https://hydapi.nve.no/api/v1/Stations

To get the measurements, use this:
https://hydapi.nve.no/api/v1/Observations?StationId=150.1.0&Parameter=1000&ResolutionTime=0&ReferenceTime=2020-03-03/2020-04-03
note, reference time is need to be done per month

[2021-07-13 07:05] meomancer commented on #438
hi @clau1313 @ArnaudIGRAC
What is the organisation for the incoming data?

And also, the data is per 30 minutes, so per day will be 48 data
and per year will be 17520

Should we get all data?
How many data (or year) should we get?

Do we need to pull it automatically everyday?

[2021-07-13 07:10] meomancer opened #449 "Create harvester"
We need to create harvester, that needs to be fetch the data everyday automatically
- [ ] Canada : https://github.com/kartoza/IGRAC-GGIS/issues/439
- [ ] Norway : https://github.com/kartoza/IGRAC-GGIS/issues/438
- [ ] Sweden : https://github.com/kartoza/IGRAC-GGIS/issues/440

- Is that correct that we need to fetch new data everyday @clau1313 @ArnaudIGRAC ?
- And also, how much data that we have t

[2021-07-13 07:11] meomancer commented on #439
Child of https://github.com/kartoza/IGRAC-GGIS/issues/449

[2021-07-13 07:11] meomancer commented on #438
Child of https://github.com/kartoza/IGRAC-GGIS/issues/449

[2021-07-13 07:11] meomancer commented on #440
Child of https://github.com/kartoza/IGRAC-GGIS/issues/449

[2021-07-13 07:14] meomancer commented on #449
Technical:
- Create harvester model and each of regions needs to implement how to fetch data
- Link the harvester to organisation
- Link the harvester to the wells that harvested
- Save latest date and latest date of data that harvested

[2021-07-13 07:17] meomancer commented on #440
NOTE for me:
Data can be fetch using this:
https://resource.sgu.se/oppnadata/grundvatten/api/grundvattennivaer/nivaer/lan/03?format=json
but needs to use region code from table in : https://www.sgu.se/produkter/geologiska-data/oppna-data/grundvatten-oppna-data/grundvattennivaer-tidsserier/

[2021-07-13 07:19] meomancer commented on #440
Could you help me understanding this data @clau1313 ?
[code]

I don't know the meaning of the most keys on this json

[2021-07-13 07:45] meomancer commented on #442
hi @ArnaudIGRAC @clau1313 @dimasciput

Staging updated using highchart
It is already returns everydata (without min/max, per year, per month like before)

This well has the highest number of level measurement in our staging (140k)
https://staging.igrac.kartoza.com/groundwater/record/9571/read

Please check it for the performance and also some input
And also, it is using cache that will be generate

[2021-07-29 09:23] clau1313 commented on #449
Hi @meomancer!

Data do not need to be fetched every day; once a month is enough.

I don't get this question: "And also, how much data that we have to save for the older data?"

We already have organisations for the 3 countries:

Geological Survey Canada (Canada)
Geological Survey of Sweden (Sweden)
Norwegian Water Resources and Energy Directorate NVE (Norway)

Stations from Sweden and Norway are

[2021-07-29 09:26] clau1313 commented on #439
Hi @meomancer, sorry for not replying before, I was on holiday. The data we need is the one under "Monitoring Sites - Groundwater Level - Canada"

![image](https://user-images.githubusercontent.com/36033176/127467581-29727392-a9ae-4f0b-8d66-0dfcb99bf524.png)

[2021-07-29 09:32] clau1313 commented on #438
Hi @meomancer, I got your question about getting all data in my email but I don't see it here. Is it solved?

Anyway, we don't need data every 30 min. Is it possible to fetch daily/monthly averages?

[2021-08-04 06:16] meomancer commented on #438
hi @clau1313
yes, i'm busy working on this data

[2021-08-04 06:18] meomancer commented on #439
hi @clau1313
i'm not sure how to fetch the data from the website
is there API from the website?

[2021-08-04 07:35] #360 closed

[2021-08-04 07:37] ArnaudIGRAC opened #450 "[ggis.un-igrac.org] A user has requested access to the site"
We have received several requests to access the GGIS lately. Some of them are obvious spams, I am not sure for the others. Why do we receive requests sometimes and sometimes not?

[2021-08-10 03:59] meomancer commented on #439
hi @clau1313 @ArnaudIGRAC
Is there any API that i can use to get the data from website?

@timlinux @NyakudyaA
It is using wms, is there any method to get the features data from that layer?
thank you

[2021-08-10 07:07] meomancer commented on #440
PR is here : https://github.com/kartoza/IGRAC-WellAndMonitoringDatabase/pull/90

Hi @clau1313 @ArnaudIGRAC
could you confirm this is correct based on the data that returned?

[code]

and also what is the organisation for this one?
I would like to test it on staging, what organisation is it?

[2021-08-10 07:08] meomancer commented on #438
PR is here : https://github.com/kartoza/IGRAC-WellAndMonitoringDatabase/pull/90

Hi @clau1313 @ArnaudIGRAC
what is the organisation for this one?
I would like to test it on staging, what organisation is it?

[2021-08-10 08:56] clau1313 commented on #439
Hi @meomancer, as far as I know there is no API that you can use to get data from the website. They use the SOS (Sensor Observation System) to share data, and also to retrieve data from United States that is also shared via the website, but I don't know how it works. Shall I put you in contact with someone at the Canadian office?

[2021-08-11 06:15] meomancer commented on #439
yes @clau1313
i need to ask them how to pull data from their server

[2021-08-16 07:18] ArnaudIGRAC commented on #450
Any answer? I keep on receiving a lot of requests. It was not the case before. Why? Do these people/spams need my approval to reach the website?

[2021-08-16 07:25] NyakudyaA commented on #450
@ArnaudIGRAC I have seen that they are over 400 users registered in the system. Is this number supposed to be this big. If not What criteria can I use to cleanup the users so that afterwards we can then monitor what is happening

[2021-08-16 07:36] ArnaudIGRAC commented on #450
Hi Admire, apparently I receive a request for every new user in the GGIS. It was not the case before. I haven't replied any of these requests but these users appear nonetheless in the system as Active. So I wonder what use those request emails are for.

I cleaned the list of users 2 weeks ago. Our policy is that everybody can register in the GGIS as long as they provide their real name/surname. Bu

[2021-08-16 07:41] ArnaudIGRAC commented on #450
I wonder if these people register in the website or in the app...

[2021-08-16 07:55] NyakudyaA commented on #450
@ArnaudIGRAC I have just tested this and I see that a user self registers on the site but they are automatically logged in. It seems that the approval workflow is not setup or is not working correctly. So what we need to do is the following

* To stop yourself from receiving notifications you need to deactivate them from https://ggis.un-igrac.org/notifications/settings/

## Approval Workflow
* Use

[2021-08-16 07:56] ArnaudIGRAC commented on #433
Dear colleagues, where do we stand on this development?

[2021-08-16 07:57] ArnaudIGRAC commented on #434
Dear colleagues, where do we stand on this development?

[2021-08-16 08:01] ArnaudIGRAC commented on #450
Thank you Admire, let's do that! I am not sure whether SMTP is setup though (#360)...

[2021-08-16 08:08] NyakudyaA commented on #450
@lucernae Can you take over this and just make sure the approval workflow is working. It seems the env variable
`ACCOUNT_APPROVAL_REQUIRED` is not set on the server

[2021-08-16 09:06] meomancer commented on #433
hi @ArnaudIGRAC
could you check this PR?
https://github.com/kartoza/IGRAC-GGIS/issues/442
that PR is fixing this ticket

[2021-08-16 09:12] ArnaudIGRAC commented on #442
Thank you Irwan, I find it great! It looks very clear and it took no more than 6 sec to show the entire chart. @clau1313 what do you think?

[2021-08-17 04:44] meomancer commented on #434
hi @ArnaudIGRAC @clau1313 @dimasciput
The trendline has been added in this commit : https://github.com/kartoza/IGRAC-WellAndMonitoringDatabase/commit/eea8b72cb94d9c6de5db81101584197c0a4b5e33

Currently it is just deployed on staging to test it
Please check the example in here:
https://staging.igrac.kartoza.com/groundwater/record/59/

The chart shows the trendline in orange color
![Selection_030](h

[2021-08-17 07:34] clau1313 opened #451 "Time series graphs do not appear in GGMN"
Good morning @meomancer. I don't see any graphs in the GGMN, from any well. This is an example from well https://ggis.un-igrac.org/groundwater/record/3167/

![image](https://user-images.githubusercontent.com/36033176/129683430-748958d6-3281-45e2-9f05-db81ac2e31ba.png)

Graphs dont show both in the GGMN main page and in the form

[2021-08-17 07:41] clau1313 commented on #434
Hi @meomancer, thanks! the linear trend looks really good.

The step trend is not supposed to show like that. A time series has either a linear or step trend, but not both. When the data has a step trend, it should look like this:

![image](https://user-images.githubusercontent.com/36033176/129684198-b43646eb-936c-4079-b02c-319f83d770c8.png)

There are some wells with this trend, for example eithe

[2021-08-17 07:45] clau1313 commented on #442
Hi @meomancer and @ArnaudIGRAC, it looks great! The chart loaded really fast for me as well

[2021-08-17 08:04] meomancer commented on #434
hi @clau1313
How do you calculate that step? Is there any formula that we could use for that step?

it is still on staging, will be release after this is done

[2021-08-17 08:05] meomancer commented on #451
hi @clau1313
this is not released yet
i will release it after everything about chart is done
(We just release it once for a new feature)

[2021-08-17 08:09] clau1313 commented on #439
Hi @meomancer, I just sent an email to connect you with the guys in Canada

[2021-08-17 08:10] clau1313 commented on #438
All data from Norway is supposed to be associated to the organisation "Norwegian Water Resources and Energy Directorate NVE (Norway)"

[2021-08-17 08:54] clau1313 commented on #440
I don't recognize this station (101_1). We should retrieve from the swedish system the same stations that are already in the GGMN.

All wells from Sweden should be associated with the organisation: "Geological Survey of Sweden (Sweden)"

I just realised that there are some wells from Sweden that are not associated to the right organisation, for example https://ggis.un-igrac.org/groundwater/record/

[2021-08-17 08:59] clau1313 commented on #434
In theory, the formula should be in the python code...

Please let me know if you find it (or not)

[2021-08-17 09:04] meomancer commented on #440
HI @clau1313
That station 101_1 is coming from the API
The name is Balsta_1
https://resource.sgu.se/oppnadata/grundvatten/api/grundvattennivaer/nivaer/lan/03?format=json
So we need to just get the measurements data for the well/station that are already in our ggmn data?
Is it same with Canada and Norway?

Yes, please @clau1313

[2021-08-17 09:07] meomancer commented on #434
I can't find it @clau1313
the library is just provide the linear trend
or where is the website that you show on the image? maybe i can get idea from there

[2021-08-17 09:57] clau1313 commented on #434
The image comes originally from a groundwater monitoring book, page 224. The formulas to estimate a step trend are in the page before (223).

The file is attached.

[Yangxiao Groundwater monitoring book.pdf](https://github.com/kartoza/IGRAC-GGIS/files/6998935/Yangxiao.Groundwater.monitoring.book.pdf)

[2021-08-17 10:11] clau1313 commented on #440
With Canada and Norway we should get only the stations that are already in the system.

With Canada we can get all of them

Attached is the list with the stations from Sweden.

[Wells Sweden.xls](https://github.com/kartoza/IGRAC-GGIS/files/6999041/Wells.Sweden.xls)

[2021-08-17 10:15] meomancer commented on #434
hi @clau1313
i think i need time to develop it
maybe can we release the current graph for now? Maybe we can release it in future version
could you create new ticket for this step trend line?

[2021-08-17 10:35] clau1313 commented on #438
I realised that the stations from Norway were not associated to the right organisation. But I just fixed it. However, I noticed that one station is missing (it is called Abrahamsvoll, perhaps you can find it?). Otherwise I will upload it again.

Attached is the list of wells from Norway.

[Norwegian ground water stations.xlsx](https://github.com/kartoza/IGRAC-GGIS/files/6999211/Norwegian.ground.wa

[2021-08-18 12:58] lucernae commented on #450
I can set this, however note that newly registered users will still send email to request for approval.

[2021-08-23 04:24] meomancer opened #453 "Trend analysis chart"
Extension of https://github.com/kartoza/IGRAC-GGIS/issues/434

Please check the formula here : https://github.com/kartoza/IGRAC-GGIS/issues/434#issuecomment-900158769

[2021-08-23 04:25] meomancer commented on #434
hi @clau1313 @ArnaudIGRAC
the chart is already released with version 1.2.0
I think we can close this as per original is just trendline

The step trendline is in this ticket : https://github.com/kartoza/IGRAC-GGIS/issues/453

[2021-08-23 04:25] #434 closed

[2021-08-23 04:26] meomancer commented on #442
hi @clau1313 @ArnaudIGRAC
the new chart is already released with version 1.2.0
Please check it on https://ggis.un-igrac.org/

[2021-08-23 04:26] #442 closed

[2021-08-23 04:26] meomancer commented on #433
hi @clau1313 @ArnaudIGRAC
the new chart is already released with version 1.2.0
Please check it on https://ggis.un-igrac.org/

[2021-08-23 04:26] #433 closed

[2021-08-23 07:10] meomancer commented on #438
It's lot @clau1313
[Uploading Norwegian.ground.water.stations.zip…]()

You could check in this geojson

[2021-08-30 13:40] ArnaudIGRAC commented on #453
How do you specify whether it is a linear or a step trend?

[2021-08-31 07:04] ArnaudIGRAC commented on #450
Have you implemented it?

Please don't forget to add the following message in the registration window:
"Once logged in, please update your user profile with your name, affiliation and any other relevant information. Unidentified users will be deleted."

[2021-08-31 15:17] ArnaudIGRAC opened #454 "hyperlinks in attribute table"
Hi Admire,
Some layers contains hyperlinks in href format
![image](https://user-images.githubusercontent.com/64771599/131529298-bbc2de60-1bea-44bf-8fce-755e13519a2c.png)
See for instance the layer https://ggis.un-igrac.org/layers/geonode_data:geonode:Global_MAR_Inventory
These hyperlinks don't work, can you please tell me why?

[2021-09-02 14:01] ArnaudIGRAC commented on #416
The attribute tables are not visible anymore, can you please restore it?
https://sadc-gip.org/layers/httpsggisun-igracorggeoservergroundwaterowsservicewfstypenamegroundwatergroundwater_well:Groundwater_Well

[2021-09-03 00:23] meomancer commented on #451
hi @clau1313
this is already released
please check it

[2021-09-03 00:23] #451 closed

[2021-09-03 01:11] meomancer commented on #416
Hi @ArnaudIGRAC
Here is the correct service:
https://sadc-gip.org/services/408/
The layer:
https://sadc-gip.org/layers/httpsggisun-igracorggeoserverwms:groundwater:Groundwater_Well

----------------------------------------------------
This is the not working one:
https://sadc-gip.org/services/406/
The Layer:
https://sadc-gip.org/layers/httpsggisun-igracorggeoservergroundwaterowsservicewfstypenameg

[2021-09-06 07:30] #416 closed

[2021-09-07 14:08] #454 closed

[2021-09-08 11:53] ArnaudIGRAC opened #455 "dataset attributes"
Why can I not set up the attributes of this layer? The only option is to use a custom template
https://ggis.un-igrac.org/layers/geonode:transboundary_aquifers_basicinfo/metadata

[2021-09-08 11:56] meomancer commented on #455
i'm not sure, could you help me check it @seabilwe ?

[2021-09-09 06:29] meomancer commented on #455
hi @ArnaudIGRAC
i'm sorry but @seabilwe and i can check this next week

[2021-09-09 06:51] ArnaudIGRAC commented on #455
No hurry Irwan, next week is fine

[2021-09-14 13:48] clau1313 commented on #453
The way it was done in the old GGMN was by hand (looking at the graph, deciding that it has a step trend, and then clicking where the step is supposed to occur)

[2021-09-14 13:52] clau1313 commented on #438
Hi @meomancer, sorry for the long silence, I was away but now finally back.

what is a lot? we need only 12 stations from Norway (please see my previous file). Is the frequency to high? we don't need data with a frequency higher than daily.

btw I cannot open the file you uploaded in the last message...

[2021-09-14 13:58] clau1313 commented on #440
Hi @meomancer, is there any update?

[2021-09-14 13:58] clau1313 commented on #439
Hi @meomancer, is there any update on this?

[2021-09-20 13:20] seabilwe commented on #455
Hi @ArnaudIGRAC cc @meomancer. I think this is what you are looking for (in GIF below). The option you mentioned above is mostly for the metadata and whenever I need to edit the attribute table of a layer or add features to the attribute table, I use the Edit data button in the Editing tools.

![editing attribute table](https://user-images.githubusercontent.com/56301949/134009351-84fcc995-9b0c-46d

[2021-09-20 13:26] ArnaudIGRAC commented on #455
Hi Seabilwe, I want to edit the labels of the attributes, which you can usually do in section 4 of the metadata wizard
![image](https://user-images.githubusercontent.com/64771599/134010182-5b640124-7e94-4ac8-b853-43ccd7aaa669.png)
but it doesn't work for this layer https://ggis.un-igrac.org/layers/geonode:transboundary_aquifers_basicinfo/metadata

[2021-09-20 13:57] seabilwe commented on #455
@meomancer I had a look a number of layers randomly on the instance and so far none of them show this, where we can't see the attribute table when the **Use a custom template** button is turned off as shown by @ArnaudIGRAC in the image.

I compared it with the Somaliland instance, and one of the layers have a similar issue where the attribute is not appearing.

When I click the button, I am suppos

[2021-09-20 13:57] meomancer commented on #453
hi @clau1313
After we checked it, it seems we can't create it on run
Instead needs to create it by hand (as per you said before)

So i'm not sure how we finish this by code automatically, and working on drawing step trendline manually feature will take time to implement it (it is new feature)

[2021-09-20 13:58] meomancer commented on #440
hi @clau1313
it is finished but need to test and deploy it on staging to be tested
I will do it on my next igrac time

[2021-09-20 13:58] seabilwe commented on #455
I'll continue to have a look at the layers randomly in the instance to see if I cannot find a similar issue.

[2021-09-27 12:41] clau1313 commented on #440
hi @meomancer, thanks, please let me know how it goes

[2021-09-27 12:42] clau1313 commented on #453
yes, that's correct

[2021-09-27 12:43] clau1313 commented on #438
Hi @meomancer, how is this going?

[2021-09-27 12:43] clau1313 commented on #439
Hi @meomancer, any update?

[2021-09-28 01:23] meomancer commented on #439
hi @clau1313
i'm sorry i haven't worked on igrac
i will ask time to work on igrac next week

[2021-09-29 06:20] meomancer commented on #439
hi @clau1313
i will work on igrac on 11-12 October
i will deploy it to the staging first and you can check until everything is fine before to production

[2021-09-30 11:37] ArnaudIGRAC commented on #405
Dear colleagues, any answer to my question above?

[2021-09-30 11:43] NyakudyaA commented on #405
@ArnaudIGRAC I think it would be the same thing, because the GeoNode front end is just abstracting the loading and publishing of layers into GeoServer/PostGIS database.

I will try them out again both from the GeoNode frontend and  GeoServer. Otherwise, we could try to do this from the backend if possible, Maybe that would work

[2021-09-30 11:49] ArnaudIGRAC commented on #405
thank you Admire, let me know if it works. Otherwise we could also contact the colleagues managing this server to seek a solution

[2021-10-11 06:43] meomancer commented on #438
hi @clau1313
For the norway, could we change the original id to the station id?
![Selection_219](https://user-images.githubusercontent.com/4530905/136744196-ae977cd9-a6fc-4715-90df-232e2b9c19ba.png)

It's quite hard to match the data from HydAPI without station id

[2021-10-11 07:40] meomancer commented on #438
And for Abrahamsvoll
i think we can add it manually @clau1313
i already added in on staging
https://staging.igrac.kartoza.com/groundwater/record/29108

[2021-10-11 07:41] meomancer commented on #438
The norway has been harvested on the staging
can you check it @clau1313 ?
so we can harvest it to the production
https://staging.igrac.kartoza.com/view/well-and-monitoring-data

[2021-10-11 09:21] clau1313 commented on #438
We should use 100% harvested data. The new time series start before 2011-2012, right? If so, for each station, we should replace the data we have with harvested data, from the date they start being recorded.

[2021-10-11 09:49] meomancer commented on #438
ok @clau1313
let me update it

[2021-10-12 00:57] meomancer commented on #438
hi @clau1313
could you recheck again?

Everything is using harvested data for norway

[2021-10-12 10:00] meomancer commented on #439
hi @clau1313
harvester for canada is running
could you check it? it's already harvested for 24 stations in canada

[2021-10-12 11:17] clau1313 commented on #438
hi @meomancer, it looks very good. Thank you!

One question: would it be possible to round off the groundwater level values to only 3 decimal digits?
![image](https://user-images.githubusercontent.com/36033176/136945890-21eaae79-2caa-47e4-b6cd-0eef4e2b0ab8.png)

So, in this example, instead of showing 949.42902551613, show 949.429

This is because it doesn't really make sense anymore to consider a

[2021-10-12 11:25] clau1313 commented on #439
Hi @meomancer, that's ok, the frequency can be even daily.

[2021-10-12 11:26] clau1313 commented on #439
I don't see the stations from Canada, where are they exactly?

[2021-10-12 11:30] meomancer opened #456 "The measurement value needs to rounded up to 3 decimal"

[2021-10-12 11:50] meomancer commented on #439
for the canada, we need to create the new one @clau1313 ?

[2021-10-12 11:51] meomancer commented on #456
This is fixed, can you check it @clau1313 ?

[2021-10-12 12:08] meomancer commented on #439
The script has been rerun for canada @clau1313
it will save the missing wells from the gin server to our server
it will takes time, but i think it will be done tomorrow

[2021-10-12 12:22] meomancer commented on #449
the harvesting progress on staging:
1. Sweden : Finished (Save measurements for just wells on our system)
2. Norway : Finished (Save measurements for just wells on our system)
**3. Canada : In progress (Create new well if not found on our system and save measurements)**

CC @clau1313

[2021-10-12 12:25] #456 closed, assigned to meomancer

[2021-10-14 01:43] meomancer commented on #439
hi @clau1313
could you check canada data?
the new wells is still coming (still running)
is that correct that we pull new wells?

[2021-10-14 07:35] clau1313 commented on #439
hi @meomancer, the data from Canada looks good. And yes, it is correct to pull new wells, so please keep going :)

[2021-10-19 07:57] meomancer commented on #439
The number of wells for canada now is 1038

[2021-10-19 12:57] clau1313 commented on #439
hi @meomancer, I just checked it but I see the same as before, no new wells (I also deleted the cache just in case).

And yes! we can run the script on production.

[2021-10-19 13:14] meomancer commented on #439
I can see the new wells on map @clau1313

Here is for example
just created 1 hour ago
![Selection_238](https://user-images.githubusercontent.com/4530905/137916736-984802fb-61a8-4267-acf4-f1e3ece0ae5c.png)

[2021-10-20 12:43] clau1313 commented on #440
It is ok! Thanks @meomancer

[2021-10-20 12:43] #440 closed

[2021-10-26 01:01] #317 closed, assigned to lucernae

[2021-10-27 14:09] clau1313 opened #459 "Delete one well from Sweden"
Hi @meomancer, I was requested to delete one well from the system. It is well 6_23 (Lat: 56.597 - Long: 16.163) from Sweden.

I already did it, but since the connection is now automatic, I was wondering if it is not going to reappear when the system tries to harvest data again. So please, can you make sure that we do not collect data from this well? Thanks!

[2021-10-27 14:43] clau1313 opened #460 "Question about unit of measurement in data from Norway"
Hi @meomancer, I wrote to the NVE in Norway to show them that their wells are now in the GGMN, and they are very happy about it :)

I got a question from them, it is: why for some wells it is not possible to see the data in meters above sea level? for example, for this well it is not possible: https://ggis.un-igrac.org/groundwater/record/29075/ but for some other wells, it is possible, for instanc

[2021-10-27 14:53] clau1313 opened #461 "Getting more data from Norway"
Hi @meomancer, I have another question related to the data from Norway.

As I mentioned before, they are happy with this development, and now they would like to share even more data. They offer me to send me a list with the stations and metadata they would like to share.

Would this be very time consuming/an extra development? I don't know if this could be included in the original development "get

[2021-10-28 13:20] #459 closed, assigned to meomancer

[2021-11-01 09:48] clau1313 commented on #460
Yes, it is working well. Thanks!

In the meantime I am going to ask for the elevation of the other wells to add them in the system. I will come back to you if something doesn't work :)

Thanks again for your help

[2021-11-01 09:48] #460 closed

[2021-11-04 10:58] clau1313 opened #464 "Add permanent layers to GGMN viewer"
hi @meomancer, I would like to add some permanent layers to the GGMN viewer, so when it is opened the layers are there but turned off, like this:

![image](https://user-images.githubusercontent.com/36033176/140302292-acd2ebb2-0cda-4958-9b83-8ef13eb6118a.png)

I heard that it is easy to do but I don't know how... can you explain it to me please? Thanks!

Cheers,
Claudia

[2021-11-05 02:30] meomancer commented on #464
hi @clau1313
i think you need to save it?
which layer and what server is it?

[2021-11-08 08:26] clau1313 commented on #464
hi @meomancer, the layers are "2015 - Transboundary Aquifers of the World" and "Groundwater resources and recharge (mm/a)" (by the way, I cannot add this last one any more, it appears unavailable - but ast Thursday it was there....), and the portal is the GGMN: https://ggis.un-igrac.org/view/ggmn

Maybe in the future I would like to add more layers, that's why I would like to learn how to do it my

[2021-11-10 14:12] ArnaudIGRAC opened #465 "GGIS is down"
"503 Service Temporarily Unavailable"
Can you please restore it asap?

[2021-11-10 14:32] NyakudyaA commented on #465
@ArnaudIGRAC We are looking now and we should have it up ASAP

[2021-11-10 14:39] NyakudyaA commented on #465
@ArnaudIGRAC It's back up. This was caused by the pods restarting themselves

[2021-11-11 09:16] clau1313 commented on #405
hi @meomancer, I received an answer from the GAP portal. Unfortunately they cannot identify one specific problem, and they asked me if it would be okay if they communicate directly with you. Can I do that? If so then I will give them your email address.

Please let me know. Thanks!

[2021-11-11 12:36] clau1313 opened #466 "[GGMN] Replace some data from Sweden"
Hi @meomancer! A colleague from the SGU realised that in some wells there are some artificial leaps/step trends. So from example, from one day to another there is a change of 2 m in the groundwater table.

I looked into it and found out that this happens at the "connection" between data from the old GGMN and data retrieved from SGU. And this happens because from their side they corrected their dat

[2021-11-11 13:08] dimasciput commented on #466
Hi @clau1313, Irwan is still on leave this week and will be back next week.

[2021-11-11 13:34] clau1313 commented on #466
hi @dimasciput, thanks for letting me know!

[2021-11-15 01:25] meomancer commented on #405
hi @clau1313
i'm not sure the solution from their site
maybe i need @NyakudyaA to communicate with them how to overcome our issue from their side

could you help me @NyakudyaA ?

[2021-11-15 01:28] meomancer commented on #464
i understand now
@clau1313
the /view/ is just the view with just read only (i think we need to remove editing ability in there)

to edit that map, you need to access here
https://ggis.un-igrac.org/maps/1838/edit

if you edit there, the https://ggis.un-igrac.org/view/ggmn will be edited too
basically https://ggis.un-igrac.org/view/ggmn is just read only
https://ggis.un-igrac.org/maps/1838/edit is f

[2021-11-15 01:29] meomancer commented on #466
hi @clau1313 i'm sorry i was on leave

yes, we can do replace current data with new data from SGU
please let me know when the data is ready so we can run the harvester to drop our data and replace with new data from SGU

[2021-11-15 09:35] clau1313 commented on #464
hi @meomancer, thanks, but I don't understand how to keep the changes at https://ggis.un-igrac.org/maps/1838/edit... once I add the layer I want to keep, how can I save it? when I leave the page and come back again, the changes are not there anymore....

[2021-11-15 11:47] NyakudyaA commented on #405
@clau1313 If they are using GeoServer they can increase the timeout for their service as depicted here https://geoserver.geo-solutions.it/multidim/enterprise/resource_limits.html

If their service is mapserver,qgis server etc hey should also see how to optimise the timeout for wms services

[2021-11-16 02:24] meomancer commented on #464
hi @clau1313
to save it, click here (top-right)
![Selection_305](https://user-images.githubusercontent.com/4530905/141884337-29a12275-aff4-4e9a-9562-59389936b0fe.png)

It will show option to save it
![Selection_304](https://user-images.githubusercontent.com/4530905/141884358-a5ccaec0-8fb3-4036-8748-992a92c9e45c.png)

[2021-11-16 09:05] clau1313 commented on #464
hi @meomancer, thanks!

[2021-11-16 09:05] #464 closed

[2021-11-16 09:07] clau1313 commented on #405
hi @NyakudyaA, thanks, can I give the developers at GAP Maps your email address in case they have more questions?

[2021-11-16 09:11] NyakudyaA commented on #405
Yes @clau1313

[2021-11-16 09:15] clau1313 commented on #405
@NyakudyaA what is your email address? I am not sure if I have it...

[2021-11-16 09:26] NyakudyaA commented on #405
Sorry I thought you had it, `admire@kartoza.com`

[2021-11-26 06:40] NyakudyaA commented on #405
@meomancer Can we try to increase the Nginx timeout to the maximum we can? I have been given new links but they all fail to retrieve the layer. An alternative solution might be to actually ingest the layers directly into the database but we would need to update all the links for the resources

[2021-11-30 09:27] NyakudyaA commented on #405
New links provided in email are
Global arsenic (2020):

http://www.gapmaps.org/geoserver/wms?REQUEST=GetMap&LAYERS=gap:arsenic2020&WIDTH=2500&HEIGHT=972&BBOX=-180.0,-56.0,180.0,84.0&FORMAT=image%2Fpng&VERSION=1.1.1&SERVICE=WMS

http://www.gapmaps.org/geoserver/wms?REQUEST=GetLegendGraphic&LAYER=gap:arsenic2020&FORMAT=image%2Fpng&VERSION=1.1.1&SERVICE=WMS

Global fluoride (2008):

https://www.gapma

[2021-12-02 14:08] ArnaudIGRAC opened #467 "GGIS is unavailable"
it says: this site can't be reached

[2021-12-02 15:54] NyakudyaA commented on #467
@ArnaudIGRAC I am seeing this message now but I have checked and it is available

[2021-12-02 15:54] ArnaudIGRAC commented on #467
Thank you Admire. Indeed, the system is back online and it seems to work fine.

[2021-12-02 15:54] #467 closed

[2021-12-06 02:32] meomancer commented on #405
hi @NyakudyaA
it turns out i'm not sure how to increase it on rancher2

hi @lucernae
could you help us increase timeout for uwsgi and nginx?
i'm not sure where nginx.conf is (i changed on container but it is readonly)

[2021-12-06 05:49] lucernae commented on #405
@meomancer for future reference, you can easily check config location in Rancher.
Select the container you want to see:
<img width="1300" alt="image" src="https://user-images.githubusercontent.com/831865/144793633-90d75d3f-267e-4484-a802-932c1dcea298.png">

In the volumes sections, find the file you want to override, then click the link to the ConfigMap definition:
<img width="1290" alt="image" sr

[2021-12-06 10:00] lucernae commented on #405
If I look at the log, it seems the one doing the timeout is uwsgi, so we need to also increase uwsgi timeout.
Increasing the uwsgi timeout parameter in nginx results with this:

<img width="1356" alt="image" src="https://user-images.githubusercontent.com/831865/144825896-886c4b52-0266-4b62-b705-225c075cd89a.png">

[2021-12-06 10:14] meomancer commented on #405
hi @lucernae
thank you very much for increasing timeout

@NyakudyaA
It is still timeout from the remote service
[code]

[2021-12-06 10:25] lucernae commented on #405
@meomancer sorry I'm still editing my comments and only finished after you posted, so I summarize again in this comment.

In summary:
- From nginx and uwsgi conf side, we already tried to increase the timeout, but there's a hard limit of 75s of `uwsgi_connect_timout` setting. I guess, this makes sense because nginx is a UI thread for the web, it needs to finish quickly to avoid becoming zombie thr

[2021-12-06 10:30] meomancer commented on #405
i think the solution is saving in manually on database
will ask time for working on it

[2021-12-06 10:47] lucernae commented on #405
I just did a small patch in the k8s deployment to test this. If I increase the OGC Timeout parameter, the register process does returns after around 10 mins.

<img width="888" alt="image" src="https://user-images.githubusercontent.com/831865/144832616-dccf7058-5778-4f57-ab28-75b70d1ab780.png">

I still don't think it is a good idea though, because the uwsgi thread is blocked during that time and w

[2021-12-06 10:51] NyakudyaA commented on #405
Can you register remote services through management commands ? If it's a once off job I would like to believe you can test what commands are being fired against the DB when a user registers a remote service and then just do the same unless getting the code that registers remote service and run it manually in the backend

[2021-12-06 11:17] lucernae commented on #405
I don't actually know. From what I've understand, the bottleneck is this initial GetCapabilities request where you are not yet registering any service, but only listing all services. Doing it with the management command will still result in 10 mins waiting in the terminal. Unless you page the request to the remote server. For example if you want only the first 10 results to be shown initially. (th

[2021-12-06 12:00] NyakudyaA commented on #405
I am sure there must be something happening within the context of GeoNode because a straight getcapabilities report doesn't go over 5minutes in my browser and even when I time it in the shell

I think we are talking the same thing. What I also mean is that when you do register the service it will do a getcapabilities and store those results in the DB in a particular table and when you select a lay

[2021-12-07 02:19] meomancer commented on #405
Thank you very much @lucernae
now it works

CC @NyakudyaA @ArnaudIGRAC

Here are the layers
https://ggis.un-igrac.org/layers/httpswwwgapmapsorggeoserverwms:gap:fluoride
https://ggis.un-igrac.org/layers/httpswwwgapmapsorggeoserverwms:gap:arsenic2020

Please check it

[2021-12-07 15:16] lucernae commented on #405
@NyakudyaA I also did a straight get capabilities and in my case it took only slightly less than 10 mins. Perhaps my region or ISP affect this as well.

So, @meomancer what should I do with the temporary patch? Should I make it permanent?

[2021-12-14 01:29] meomancer commented on #461
hi @clau1313
After i checked the API, we don't need the last part because there is no "12.343.12.5130.2" in the API
The API just has 3 sections (12.343.12)

They has 101.4.1
101.4.1.5130.1 is not found on API

The script already rerun
I make it manually run now because the process is really big and can make server down
I will make it rerun every weekend later

[2021-12-14 12:53] clau1313 commented on #461
hi @meomancer, thanks for your answer. I just uploaded the new wells.
I also checked the other wells, and I see that there is updated data.
One more question: if you make the re run on the weekend, could we see groundwater levels in the new wells next week?

[2021-12-16 01:47] meomancer commented on #461
yes @clau1313
please create new wells so i can run the script

[2021-12-16 08:23] clau1313 commented on #461
hi @meomancer, I already created them. Do you need also a list with their names?

[2021-12-17 01:41] meomancer commented on #461
hi @clau1313
I have run the script
They are already pulled
Could you check it?

Some notes from me

Wells below does not found on the list of station on the API
- 12.345.1
- 139.41.3
- 166.17.2
- 20.34.2
- 209.9.2

Wells below : Does not have data for water level. It is just temperature (not fetched yet)
- 185.2.3

Wells below : API is not working
- 2.714.1 : https://hydapi.nve.no/api/v1/Observati

[2021-12-23 10:40] clau1313 commented on #461
Hi @meomancer, I forwarded your comments to NVE and this is what they replied:

12.345.1 this station is abandoned, no data after 2018
139.41.3 not real-time transfer of data after 2018
166.17.2 abandoned, but replaced by 166.17.3 (note that the last digit is different). This new station has a data series that is connected to the data series of 166.17.2, so that this series has the ID 166.17.3.513

[2021-12-23 11:05] clau1313 commented on #466
hi @meomancer, the data is ready to be replaced. Or did you do it already?

[2021-12-23 11:11] clau1313 opened #468 ""Data out of date" message when dowloading data"
hi @meomancer, there is a user trying to download all data from the Well and Monitoring site in GGIS. She tried a couple of times, but whe she reaches 80% it stops and get the message "data out of date". Do you know what could be the problem? Thanks!

![image](https://user-images.githubusercontent.com/36033176/147232257-ebb99582-ec35-4493-877b-43d2bca07313.png)

[2021-12-23 14:41] meomancer commented on #468
hi @clau1313
i think when in progress, the server was down, making the progress stopped
Data out of date means that when downloading, the data was 14 December. But when we look into it now, the new data is already 23 December. So meaning that when downloading, the data that will be downloaded is data up to 14 december

Could you ask her to redownload?

[2021-12-23 14:43] meomancer commented on #466
hi @clau1313
I haven't done anything
Because you said that on the original post

i though i need to wait some days until the are ready to be replaced

Should i replace now? Is the data ready on SGU to be replaced on our side?

[2021-12-23 14:45] meomancer commented on #461
I'm not sure how to retrieve the data @clau1313
could you ask them to explain how to retrieve the data for every stations?

[2021-12-23 14:59] clau1313 commented on #466
hi @meomancer, no problem. Thanks! Tomorrow is fine.

[2021-12-26 02:11] meomancer commented on #466
hi @clau1313
Every sweden data has been replaced
Could you check it?

[2022-01-04 10:13] clau1313 commented on #468
hi @meomancer, thanks! I think it worked out at the end.

by the way, happy new year 2022!! :)

[2022-01-04 10:13] #468 closed

[2022-01-04 10:39] clau1313 commented on #466
hi @meomancer, thanks, the data looks good to me.

I have an additional question about the graphs. For example, the graph for this well (https://ggis.un-igrac.org/groundwater/record/3186/) looks like this:

![image](https://user-images.githubusercontent.com/36033176/148046311-3de77d6a-6bc5-44cd-aa14-dece287c359f.png)

Both intervals (marked with red and green markers) are the same lenght, but actu

[2022-01-05 06:08] meomancer commented on #466
hi @clau1313
thank you for the report
yes, it is quite not good

i'm not sure it is possible to fix it from library or not now
i will ask time to finding out how to fix it @clau1313

[2022-01-05 09:27] clau1313 commented on #466
ok, thanks @meomancer!

[2022-01-10 05:17] meomancer commented on #466
hi @clau1313
the problem is the density of data on the left is lesser than the right one
so the library creating the chart like that

But we can fix by grouping data depend on zoom (it is already provided by the chart)
Because of it, the data will be less complex than the original
But the detail one still be checked if we zoom in
We also can still the detailed one in the second chart (bottom)

Exa

[2022-01-10 13:58] clau1313 commented on #466
Hi @meomancer, thanks for all the examples. I think it is a good solution. How long does it take to deploy it?

[2022-01-11 02:39] meomancer opened #470 "Sometimes server is down"
# Problem
Because the staticfile making server full, basically because of temporary file (location /opt/geonode/static )

# Solution
- Check who create the static files
- Create autoclean script

[2022-01-11 02:44] meomancer commented on #466
This has been deployed
Could you check it @clau1313 ?

[2022-01-11 08:54] clau1313 commented on #466
Hi @meomancer, it looks good to me! Thanks.

I guess that we can close this issue now.

[2022-01-11 08:54] #466 closed

[2022-01-11 13:28] clau1313 commented on #405
Hi everyone, I hope it is not too late to wish you a happy new year! I hope that 2022 started well.

Quick question: what is the status of this issue?

[2022-01-11 13:49] meomancer commented on #405
Hi @lucernae
Yes please make it permanent, thank you

@clau1313 basically the original problem has been fixed
Can you check it?
https://github.com/kartoza/IGRAC-GGIS/issues/405#issuecomment-987505961

[2022-01-11 14:00] clau1313 commented on #405
hi @meomancer, thanks, I can see the layers.

Question: is it possible to change the name of the layers? for instance, this one https://ggis.un-igrac.org/layers/httpswwwgapmapsorggeoserverwms:gap:arsenic2020 is now called arsenic2020, but I would like to call it "Global Arsenic (2020)". Or shall I ask the authors of the map to change it?

[2022-01-17 01:47] meomancer commented on #405
renamed @clau1313
we can rename it by using edit layer of the geonode

[2022-01-17 12:36] clau1313 commented on #461
hi @meomancer, I asked them and now I am waiting for their answer. I will let you know when I know more!

[2022-01-17 16:06] clau1313 commented on #405
Thanks @meomancer! I think we can close this issue now.

[2022-01-17 16:06] #405 closed

[2022-01-26 11:38] ArnaudIGRAC opened #471 "Cross-Origin Resource Sharing (CORS) issue?"
Dear colleagues, some of the layers of the GGIS are used in this application of FAO: https://data.apps.fao.org/aquamaps/ Colleagues from FAO reported that the layers are no longer accessible. I tried myself to import the layers in their application, using https://ggis.un-igrac.org/geoserver/wms?REQUEST=GetCapabilities
I received the following error message:

An error occurred while invoking GetCap

[2022-01-26 11:45] ArnaudIGRAC opened #472 "new user IGRAC-GGIS"
Can you please include this github user to the project, so he can raise issues? thank you
IGRAC-GGIS

[2022-01-27 11:05] ArnaudIGRAC commented on #450
Dear colleagues, I noticed two issues:

1. When an account is activated, the notification email falls in the spam box. Can you do something about that? If not, could you at least warn users that the notification email could end up in their spam box?

2. New users are not given the possibility to provide their full name and affiliation before I activate them or not. This means that I have very litt

[2022-01-27 11:07] ArnaudIGRAC commented on #450
I forgot to mention, related to issue #1, that the content of notification email should be revised. Here is what I received:

You can use the login form at: http://IGRAC

[2022-01-28 06:02] meomancer commented on #471
hi @ArnaudIGRAC
What layers is it?
It seems i can't see igrac layer in the link https://data.apps.fao.org/aquamaps/

[2022-01-28 06:04] meomancer commented on #472
hi @ArnaudIGRAC
I can't find the user
https://github.com/IGRAC-GGIS

Could you provide the link to the github user?

[2022-01-28 06:08] meomancer commented on #450
The spam email problem is closed by this ticket
https://github.com/kartoza/IGRAC-GGIS/issues/360#issuecomment-781312751
We can do create warning to make user to check the spam

I need to check this on the library if it is possible or not

[2022-01-31 07:56] ArnaudIGRAC commented on #471
hi Irwan, those are the 3 layers
https://ggis.un-igrac.org/layers/?limit=5&offset=0&title__icontains=quantitative&abstract__icontains=quantitative&purpose__icontains=quantitative&f_method=or

[2022-01-31 08:14] ArnaudIGRAC commented on #472
Sorry Irwan, the user name is GGIS-IGRAC, not IGRAC-GGIS...
https://github.com/GGIS-IGRAC

[2022-01-31 08:15] meomancer commented on #472
Invitation sent @ArnaudIGRAC

[2022-01-31 08:41] ArnaudIGRAC commented on #472
?? I signed in as GGIS-IGRAC but I am still unable to assign you or anybody to issues under our Kartoza/IGRAC-GGIS project.

[2022-01-31 08:49] meomancer commented on #472
i think you need to accept inviation @ArnaudIGRAC
![Selection_016](https://user-images.githubusercontent.com/4530905/151763802-713fbb04-d19c-4a41-a111-4780a7f61f29.png)

there should be email or notification in the bell icon on the top-right

[2022-01-31 09:09] GGIS-IGRAC commented on #472
Thank you Irwan, it works now!

[2022-01-31 09:09] #472 closed

[2022-01-31 09:36] ArnaudIGRAC commented on #450
Please do, it would really be the best option if new users could provide their full name and affiliation at the moment of signing up. When do you think you could do that?

We will address that later, once you have figured out the previous point above.

[2022-01-31 10:16] NyakudyaA commented on #471
@lucernae cc @meomancer We need to enable cors in GeoServer.
* Login to the GeoServer container `/geoserver/webapps/geoserver/WEB-INF/web.xml`
* Edit the file to add the following declaration
[code]
* Restart geoserver.

The problem is that each restart of GeoServer will result in overwriting the `web.xml`. I suggest updating the entrypoint so that it copies this file into the proper path or mount

[2022-01-31 10:47] lucernae commented on #471
Done and deployed using config map mount. Please kindly check @NyakudyaA @meomancer using the original use case. I already test the curl command and it works.

[2022-01-31 10:48] NyakudyaA commented on #471
@ArnaudIGRAC Can you try again?

[2022-01-31 10:52] ArnaudIGRAC commented on #471
Hi Admire, I tried again but it still doesn't work. Here is the original report I received from our colleagues at FAO

[2022-01-31 10:55] NyakudyaA commented on #471
@ArnaudIGRAC Are you available for a quick google meet to check how you are testing this and we can debug

[2022-01-31 10:55] ArnaudIGRAC commented on #471
https://meet.google.com/rdu-skqq-eym

[2022-01-31 12:53] NyakudyaA commented on #471
@ArnaudIGRAC I think the error is being generated from the application side, not from our instance. I have done some additional testing here https://www.test-cors.org/# and you can see the response also validates

![errors](https://user-images.githubusercontent.com/2510900/151796731-501bcd59-ebd0-491b-bc9e-b0fd5410ba8d.png)

The error on there looks like something that could be fixed on their side

[2022-01-31 13:20] NyakudyaA commented on #471
@meomancer Can we add the following jar to geoserver: https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-servlets/11.0.7/jetty-servlets-11.0.7.jar into `/geoserver/webapps/geoserver/WEB-INF/lib` and then adjust the config map that was created by Rizky to be
[code]
Then restart GeoServer.

[2022-02-01 08:59] ArnaudIGRAC commented on #471
@NyakudyaA Irwan told me he is busy until the end of February, he might not be able to help us with this issue. How shall we proceed?

[2022-02-01 09:04] NyakudyaA commented on #471
@ArnaudIGRAC I provided the fix in this ticket, I am going to collaborate with our DevOps to implement it. I will ping you within the next hour

[2022-02-01 14:56] ArnaudIGRAC opened #473 "GGIS and SADC-GIP unavailable"
Error message is
503 Service Temporarily Unavailable

[2022-02-01 15:09] NyakudyaA commented on #473
igrac is back up. Seems the sadc has corrupted volume so busy looking at it

[2022-02-02 06:16] NyakudyaA commented on #473
@ArnaudIGRAC The SADC GIP was fixed yesterday by @dominicschaff . The server had run out of space. Going forward we are going to mount extra storage space on the server then split the geoserver data directory and the geowebache to be on different storage drives

[2022-02-02 06:16] #473 closed

[2022-02-02 08:28] ArnaudIGRAC commented on #471
Any update on this issue?

[2022-02-02 08:35] NyakudyaA commented on #471
I have updated the server to activate CORS but the response still do not include them. @meomancer will take a look just in case I am missing something

[2022-02-02 08:47] ArnaudIGRAC commented on #471
Good, it would be good if we could close the investigation today so I can revert back to our colleagues at FAO.

I noticed that the platform of FAO rejects all wms from geonode instances (I tried several). Are you aware of a recent update of Geonode or Geoserver which might explain this bug?

[2022-02-02 08:55] NyakudyaA commented on #471
It's not a bug @ArnaudIGRAC. Most GeoNode instances are setup with a basic GeoServer. It's up to the administrator of GeoServer to setup CORS access https://docs.geoserver.org/latest/en/user/production/container.html#enable-cors. In most cases the GeoServer that is powering GeoNode is running through jetty rather than tomcat. Tomcat has a different way to implement CORS on the server.

[2022-02-02 09:06] meomancer commented on #450
hi @ArnaudIGRAC
adding firstname and lastname on registration is doable
i'm going to deploy the update tomorrow

[2022-02-02 09:15] ArnaudIGRAC commented on #450
Great! Please also include the organization!

What we need is :
- First name
- Last name
- Email address
- Organization Name

[2022-02-04 01:12] meomancer commented on #450
hi @ArnaudIGRAC
Deployed
![Selection_024](https://user-images.githubusercontent.com/4530905/152456056-7a1cc076-58ff-4024-80d3-71d788dfc479.png)

[2022-02-07 09:25] ArnaudIGRAC commented on #450
Thank you Irwan! In order to round this off, could you please modify the content of the notification email, which is currently:

You can use the login form at: http://igrac/

where test_register is the username I created.

I would replace it with:

Discover the GGIS and update your user profile at https://ggis.un-igrac.org/

[2022-02-07 09:32] ArnaudIGRAC opened #475 "Activate users - batch"
Would it be possible to make several users active in one click instead of activating them one by one?

![image](https://user-images.githubusercontent.com/64771599/152761620-922d562a-1c7f-4b14-9cad-5514d25f62aa.png)

[2022-02-14 10:58] ArnaudIGRAC opened #476 "headers GGMN attribute table"
1. The headers of the GGMN attribute table are not the "clean" ones that appear in the feature box, can you please update it?

OK
![image](https://user-images.githubusercontent.com/64771599/153851047-8941d964-47ff-4a63-8e96-0d832419284c.png)

NOT OK
![image](https://user-images.githubusercontent.com/64771599/153850879-1b68d16f-c5ca-4ff0-b219-fe98f0c8ec15.png)

2. The "id" field (forst one in the a

[2022-02-14 11:05] ArnaudIGRAC opened #477 "Well and Monitoring data very slow to display on the map"
It takes ages for the layer to display properly after zooming in/out. Playing with the attribute table is a bit faster but also not great. Any suggestion to improve the performace of these layers in the near future?

[2022-02-14 12:09] ArnaudIGRAC opened #478 "GGIS unavailable"
503 Service Temporarily Unavailable

[2022-02-14 12:25] ArnaudIGRAC commented on #478
Back online, but please check #470

[2022-02-14 12:50] ArnaudIGRAC opened #479 "Issues with ggmn data download"
There are issues with the download of well and monitoring data and ggmn data.

1. When logged in as dummy_user (no admin rights) and trying to download data, this is how the progress of the download looks like
![image](https://user-images.githubusercontent.com/64771599/153866924-92df1e69-0818-4f6a-9c03-2eb4dd6bfd1c.png)
https://ggis.un-igrac.org/groundwater/download?task_id=447bb19d-1b00-4476-be90

[2022-02-15 01:58] meomancer commented on #479
hi @ArnaudIGRAC
download progress is done on background
i think the problem is when the progress is still running, the server was down and making the progress stop

it is because this
https://github.com/kartoza/IGRAC-GGIS/issues/470

[2022-02-15 11:26] ArnaudIGRAC commented on #477
Hi Irwan, thank you for the suggestion. Indeed, it is not necessary to synchronize the map with the database all the time if there is no edit in the database. Can you please proceed with the suggested change?

[2022-02-15 11:35] ArnaudIGRAC commented on #479
Thanks Irwan, let's address #470
Would it be possible to also use cache for the download of the full well and monitoring dataset?

[2022-02-15 13:42] ArnaudIGRAC commented on #479
Hi Irwan, some update from my side. Yesterday I started the download of the full database using my account "arnaud". I checked the progress of the download several times and it went very slowly. I just checked now and found out that the download is stuck, quite interestingly at 79%, like in my previous attempt using "dummy_user" (see above). Any idea why?
I get an error message saying `Data out of

[2022-02-15 14:16] ArnaudIGRAC commented on #479
If you look at all download sessions, you will notice that download sessions initiated by the same users stop at the same percentage (79% for me), 68/69% for user 617...
![image](https://user-images.githubusercontent.com/64771599/154079184-584b156b-3ed8-4c94-9fcb-86e2b94c75fa.png)

I tried ot download one single data point but it is also increadibly low... 8% after almost 20 minutes

[2022-02-18 09:43] meomancer commented on #475
This will be fixed by https://github.com/kartoza/IGRAC-GGIS/commit/139b0600542e187091ade7b223a52ad65cf80bb1

[2022-02-18 09:50] meomancer commented on #476
hi @ArnaudIGRAC
Currently it is just working in
https://ggis.un-igrac.org/view/well-and-monitoring-data

For the GGMN i need @dimasciput to update this

[2022-02-18 10:42] meomancer commented on #450
hi @ArnaudIGRAC
This will be fixed with : https://github.com/kartoza/IGRAC-GGIS/commit/ecf803e6046117052030b891b4b1891f21594cc2

Will deploy it in 1.4.5

[2022-02-22 08:45] ArnaudIGRAC commented on #479
Hi Irwan, we could do as you suggest. However, some users might want to download the entire set of data (including monitoring data) for which they have permission. I have one such request pending. Could you please provide us with a download file containing all the data?

[2022-02-22 09:05] meomancer commented on #479
hi @ArnaudIGRAC
Note this is using my local data, so the data is just little
But the example will be like this

**1. If we download from map**
[5957df30-4a0e-40ff-9ad3-81facf0b02d2.zip](https://github.com/kartoza/IGRAC-GGIS/files/8115159/5957df30-4a0e-40ff-9ad3-81facf0b02d2.zip)

**2. If we download from a well map (which download all well data)**
[c75d6e87-35ff-47d3-83ad-e85dde156e85.zip](https:/

[2022-02-22 09:17] ArnaudIGRAC commented on #479
It looks ok.
But in the future we might have issues with the Excel format, because the maximum number of rows is about 1,000,000 I think. Is csv not a better option?

[2022-02-22 09:21] meomancer commented on #479
it is different with the original request that using excel and has different tab
csv does not using tab @ArnaudIGRAC, so there is development to change everything

but i think it is save now, because wells number is still lesser than 1.000.000
and 1 well has measurement that is still lesser than 1.000.000

[2022-02-22 09:27] ArnaudIGRAC commented on #479
Ok then! Can you please proceed with the update and provide me with the data dump?

[2022-02-22 09:49] meomancer commented on #479
hi @ArnaudIGRAC
what data dump do you mean? is it the database?

ok, i will release with the other updates tomorrow

[2022-02-22 09:51] ArnaudIGRAC commented on #479
Yes, I would like a copy of the entire database, which I can share on request. Thanks

[2022-02-24 06:52] meomancer commented on #470
This has been fixed by @dominicschaff
thank you

[2022-02-24 06:52] #470 closed

[2022-02-24 08:13] #475 closed

[2022-02-24 08:20] #450 closed

[2022-02-24 08:25] #479 closed

[2022-03-01 11:24] ArnaudIGRAC commented on #477
It is still very low to display, we need another fix

[2022-03-14 13:08] #455 closed

[2022-03-14 13:12] ArnaudIGRAC commented on #476
@clau1313 remarked that the attribute table should not open per default, but only if the user opens it. The GGMN viewer should appear normally, with the layer box on the left. Can you please update it?

Current:
![image](https://user-images.githubusercontent.com/64771599/158178528-70652777-fdf1-4556-84d4-29a590aa7899.png)

Should be:
![image](https://user-images.githubusercontent.com/64771599/1581

[2022-03-21 13:42] ArnaudIGRAC commented on #476
Any update on this? We are organizing a workshop next week on the GGMN, so we would like it be ready by then

[2022-03-21 14:26] ArnaudIGRAC opened #481 "Add record not working"
https://ggis.un-igrac.org/groundwater/record/create/
![image](https://user-images.githubusercontent.com/64771599/159280349-12ced8fb-a856-4eaa-ac98-faa03a40c6d1.png)

[2022-03-21 14:31] ArnaudIGRAC opened #482 "Update upload file"
Hello Irwan,

Claudia informed me that the upload file needs to be updated, to match the architecture of the database, i.e. the fields "Feature type" and "Country" need to be updated. Can you please replace the current upload file with this one?
[New upload file.xlsx](https://github.com/kartoza/IGRAC-GGIS/files/8316219/New.upload.file.xlsx)

[2022-03-22 01:50] meomancer commented on #482
hi @ArnaudIGRAC @clau1313
This ticket needs development for updating it
Because it will also change the code

i will ask time to @timlinux for this

[2022-03-22 08:35] meomancer commented on #481
Released 1.4.6 : fix this issue
Can you check it @ArnaudIGRAC ?

[2022-03-22 08:35] meomancer commented on #476
thank you @dimasciput

Released 1.4.6 : fix this issue
Can you check it @ArnaudIGRAC ?

[2022-03-22 10:02] #481 closed

[2022-03-22 10:24] ArnaudIGRAC commented on #482
Hi Irwan, in fact I only changed the headers of the excel file, the overall structure hasn't changed, so it is only a matter of replacing the old file with the new one. Is development required for that? @clau1313 correct me if I am wrong.

[2022-03-22 10:56] meomancer commented on #482
ok @ArnaudIGRAC
if it is just change the headers and also keep the value on the excel like the old one, i can replace it tomorrow

[2022-03-24 09:18] ArnaudIGRAC commented on #476
The issue now is the initial scale of the map, with empty spaces on the sides and Antartica taking a lot of space.
![image](https://user-images.githubusercontent.com/64771599/159882556-c6e8d573-c856-4826-a9ea-e1ea47028e53.png)
While trying to modify the initial view, I found out that https://ggis.un-igrac.org/maps/1838 and https://ggis.un-igrac.org/view/ggmn are not connected anymore.

- https://g

[2022-03-24 09:47] dimasciput commented on #476
@ArnaudIGRAC they are connected, but the header only shows up in the ggmn view. Is that okay or do you wan to show the updated header in the maps view too?

[2022-03-24 09:55] ArnaudIGRAC commented on #476
@dimasciput it is okay, no need to update the headers. But the view is an issue, how can I change that?

[2022-04-16 11:46] timlinux commented on #477
@meomancer simple solution for this is to just upgrade the server to something with more CPU power....

[2022-04-19 11:47] timlinux commented on #477
I took a look - we are already on a CX51

![imagem](https://user-images.githubusercontent.com/178003/163996333-ed19bcce-7916-4889-8f56-669753e93df5.png)

With 8 cpus' I wonder if  upgrading will help. @NyakudyaA can you please investigate the cause of the bottleneck. Maybe we can cache the wells layer nightly (with the side effect that new well uploads will take up to 24 hours to appear on the pla

[2022-04-19 19:16] NyakudyaA commented on #477
@meomancer Can you point me to the layer in the DB? Are all the fields properly indexed and is the database also properly optimised to maximise the server resources. For now, I think we can investigate the following actions
* Optimise the layer itself. Even materialized views can have indexes because they are tables.
* Are you using row-level triggers ?
* For the updates happening in the main laye

[2022-04-20 01:49] meomancer commented on #477
hi @NyakudyaA @timlinux
I already created the mv for the layers, but the problem is everytime i save it, it will revert back to old one.

**Well layer**
The layer:
https://ggis.un-igrac.org/geoserver/web/wicket/bookmarkable/org.geoserver.web.data.resource.ResourceConfigurationPage?50&name=Groundwater_Well&wsName=groundwater

The sql should be:
`select id, ggis_uid, original_id, name, feature_type,

[2022-04-20 02:10] dimasciput commented on #477
@meomancer you need to save in the edit layer page too, not just in the sql view page. I managed to update the ggmn one, but the mv view for well layer has no uuid column.

[2022-04-20 02:22] meomancer commented on #477
i see, thank you @dimasciput
i just saved the sql without save the layer
now it is saved and faster

[2022-04-20 02:23] meomancer opened #484 "We need to update materialized views"
The MVs:
- mv_well_with_uuid
- mv_well_ggmn

We can refresh it on:
- By code : when well is updated
- On celery
- On cron job

[2022-04-20 05:12] NyakudyaA commented on #484
You will need to run something like below

[code]

if your views have a column with a unique value and an additional unique index then you should use `REFRESH MATERIALIZED VIEW CONCURRENTLY`

[2022-04-20 06:48] meomancer commented on #484
thank you @NyakudyaA
will do it

[2022-04-20 10:04] meomancer commented on #477
hi @ArnaudIGRAC @timlinux @NyakudyaA
Could you try if it is faster or not?
https://ggis.un-igrac.org/view/ggmn
https://ggis.un-igrac.org/view/well-and-monitoring-data

[2022-04-20 11:24] ArnaudIGRAC commented on #477
- https://ggis.un-igrac.org/view/ggmn It seems faster indeed
- https://ggis.un-igrac.org/view/well-and-monitoring-data I don't see any data point

[2022-04-20 22:09] meomancer commented on #477
Fixed @ArnaudIGRAC
Could you retry?

[2022-04-21 07:07] ArnaudIGRAC commented on #477
Excellent! thank you

[2022-04-21 07:07] #477 closed

[2022-04-21 12:31] clau1313 opened #485 "Error when creating new well in GGMN"
I get the following error:
![image](https://user-images.githubusercontent.com/36033176/164458174-42def5e5-8399-46ec-83fa-ab36bdefd12c.png)

I already checked if the mandatory fields are filled in (original ID, name, feature type, latitude, longitude, and organisation).. What could it be?

[2022-04-21 16:05] clau1313 opened #486 "Help with error in batch upload"
I tried to do a batch upload but it didn't work (I think I know what was the error, I included "/" in the date column instead of "-"). But the problem is that now the tool has been stucked for more than one hour, and I don't have the option of uploading anything anymore. It looks like this:

![image](https://user-images.githubusercontent.com/36033176/164503226-122345d5-c14a-4f44-82e8-0926202e0404.

[2022-04-21 22:09] meomancer commented on #484
Added by @NyakudyaA suggestion

[2022-04-21 22:09] #484 closed

[2022-04-21 22:10] meomancer commented on #486
Could you retry @clau1313 ?

[2022-04-21 22:10] meomancer commented on #485
Could you retry @clau1313 ?

[2022-04-29 07:58] clau1313 commented on #486
Hi @meomancer, I just tried. I have several files to upload, so I tried with the first one and it worked fine, but with the second one I got the same error: it looks like the system is stuck again.

By the way, I realised that the file I was trying to upload the other day was finally uploaded with no problems. So it seems that the problem didn't occur because of the file.

PS: I don't know why I d

[2022-05-03 11:47] ArnaudIGRAC commented on #476
dear colleagues, we still have an issue with the scale of the GGMN viewer and the Well and Monitoring Data viewer
https://ggis.un-igrac.org/view/ggmn
https://ggis.un-igrac.org/view/well-and-monitoring-data
When you reach these viewers, the map appears at the right scale but ater a few seconds it gets smaller (see screenshot in previous post). Can you please resolve this problem?

[2022-05-09 10:29] ArnaudIGRAC commented on #482
hi Irwan, @clau1313 noticed that the upload file has not been updated here https://ggis.un-igrac.org/groundwater/batch-upload
Can you please round this off?

[2022-06-01 07:32] meomancer opened #487 "#1 Permission levels"
When developing the new GGIS, significant efforts were made to accommodate different permission levels for viewing and downloading well and monitoring data. The reason is that the GGIS used to support the exchange of data between countries sharing transboundary aquifers, and data were often considered sensitive by the countries. However, in the last few years, the GGIS has not been used in TBA pro

[2022-06-01 07:33] meomancer opened #488 "#2 Download"
The current download of data is very slow, because the download file needs to be created for every data request, depending also on the permission level of the user. Since all well and monitoring data will be open (see previous section), there is an opportunity to facilitate and speed up the download of data. The idea is to prepare the download file in advance, i.e. whenever the database is edited.

[2022-06-01 07:34] meomancer opened #489 "#3 Upload"
Like explained in section 1, the data providers wouldn’t need to specify the permission levels. It is however recommended to keep the “license” and “restriction” fields open, so data providers can specify the right license and restriction. Those could be recorded in the download file.

The upload button in the well form could be removed (see below). There is already a possibility to batch-upload a

[2022-06-01 07:34] meomancer opened #490 "#5 Registering"
In the current configuration, new users need to be validated in the admin section of the GGIS, based on name, surname, email address and affiliation. This is to avoid bots to sneak in the website. However, the validation step takes time and it is often not easy to recognize real users: e.g. many users don’t have an affiliation (they write in their name), or they write in foreign languages.

Since

[2022-06-01 07:36] meomancer opened #491 "#6 G3P viewer and time slider"
A viewer will be created in the GGIS to host two global datasets of monthly groundwater storage variation, the first dataset at 0.5 degrees and the second dataset at 1.0 degree resolution. The data start in 2002. The viewer should come with a time slider:

![Selection_055](https://user-images.githubusercontent.com/4530905/171352130-40fa4e95-3a3f-4b5b-b3f2-812807df2bb3.png)

It should also be possi

[2022-06-14 11:49] clau1313 opened #494 "Recovering data from deleted user and organisation"
I would like to know if it is possible to recover associated data related to an organisation and a user that were deleted from the GGIS. The username was "terraexplorer" and the organisation Terra Explorer. Thank you!

[2022-06-15 01:35] meomancer commented on #494
Hi @clau1313
We don't have any feature to recover data that are already deleted

[2022-06-21 15:15] ArnaudIGRAC commented on #478
503 Service Temporarily Unavailable
nginx/1.17.10

[2022-06-22 07:01] NyakudyaA commented on #478
Hi @ArnaudIGRAC The site is up. Can you ping me and @tharanathkartoza for a quick response

[2022-06-23 07:15] ArnaudIGRAC commented on #478
the GGIS is unavailable again, this time with the following notification
![image](https://user-images.githubusercontent.com/64771599/175238840-aa0ee588-7d67-4331-b3a5-490db240e18c.png)

[2022-06-23 07:24] NyakudyaA commented on #478
Checking @ArnaudIGRAC

[2022-06-23 07:27] ArnaudIGRAC commented on #478
our website is also unavailable, so the issue could be on this side

[2022-06-23 07:31] NyakudyaA commented on #478
It looks good on our side here. Can you check the DNS part

[2022-06-27 10:22] SterckxArnaud opened #495 "Google Analytics not working"
My colleague Stefan noticed that google analytics data have been collected for the last time on 7 July 2021. There is no connection. Could you please check?

Connected to the following issue:
https://github.com/kartoza/IGRAC-GGIS/issues/421

[2022-06-28 10:16] ArnaudIGRAC opened #496 "create subset of GGMN data"
Dear colleagues, would it be possible to create a layer containing the GGMN data from one country only, the Gambia? Could you do that before Thursday 30/6?

[2022-06-29 02:53] meomancer commented on #496
Hi @ArnaudIGRAC
Here is the layer of GGMN for Gambia

https://ggis.un-igrac.org/layers/groundwater:groundwater:Groundwater_Well_GGMN_Gambia

[2022-06-29 03:00] meomancer commented on #495
Thank you @ArnaudIGRAC
It seems that i forgot to push the correct google analytics code
Will fix it in next release

[2022-06-29 05:36] meomancer commented on #488
Note for mapstore later:

Download data button should be just redirect to https://ggis.un-igrac.org/groundwater/record/download/ without filters (not POST)
![Selection_013](https://user-images.githubusercontent.com/4530905/176359420-c272a25b-2f0c-4018-8a91-272f9c2d76a6.png)

[2022-06-29 07:42] ArnaudIGRAC commented on #496
Very nice, thank you!

[2022-06-29 07:42] #496 closed

[2022-06-29 08:42] meomancer commented on #495
Hi @ArnaudIGRAC this is fixed and deployed
Could you check it?

[2022-07-26 05:07] meomancer opened #497 "#7 Connect with additional servers"
The GGIS is currently retrieving monitoring data automatically from the servers of Canada, Norway and Sweden. Many more connections could be made

[2022-07-26 05:30] meomancer commented on #497
- [ ] Argentina

URL : http://www.azul.bdh.org.ar/bdh3/leaflet/index.html

1. Wells geojson can be checked in here:
http://www.azul.bdh.org.ar/bdh3/leaflet/datos/estaciones.js
We need to format it as geojson because it is javascript

2. More information:
http://www.azul.bdh.org.ar/bdh3/aguasubterranea_master.php?idpoint=7900&xgap_historial=clear
Replace idpoint with id of geojson
Just get Tipo=Poz

[2022-07-26 05:53] meomancer commented on #497
- [ ] Australia

URL : http://www.bom.gov.au/water/groundwater/insight/#/bore/locationwater

Can't find the API to retrieve the data.
It is using wms

[2022-07-26 05:54] meomancer commented on #497
- [ ] Austria

URL : https://www.ehyd.gv.at/

Can't find the API to retrieve the data.
It is using wms

[2022-07-26 05:58] meomancer commented on #497
- [ ] Belgium

URL : https://www.dov.vlaanderen.be/portaal/?module=verkenner&bm=9bba534d-0745-46ef-aa95-c31788c2266a

Can't find the API to retrieve the data.
It is using wms

[2022-07-26 06:00] meomancer commented on #497
- [ ] Bolivia

URL : http://ide.sergeomin.gob.bo/wsihibo/

Website can't be opened

[2022-07-26 06:02] meomancer commented on #497
- [ ] Brazil

URL : http://rimasweb.cprm.gov.br/layout/visualizar_mapa.php

Can't find the API to retrieve the data.
It is using wms

[2022-08-22 09:53] ArnaudIGRAC opened #498 "Layers not available in GGIS viewers"
Layers are not avaiable in GGIS viewers! Check for instance
https://ggis.un-igrac.org/view/tba
![image](https://user-images.githubusercontent.com/64771599/185893441-c2d193a3-3da9-4d20-bc94-1cf21acb2f63.png)

https://ggis.un-igrac.org/view/marportal
![image](https://user-images.githubusercontent.com/64771599/185893497-ec4367ed-fe2c-4236-ac38-c21698325c5f.png)

[2022-08-22 10:00] ArnaudIGRAC commented on #495
It works fine, thank you

[2022-08-22 10:34] ArnaudIGRAC commented on #498
the layers are back, have you done anything?

[2022-08-22 10:37] NyakudyaA commented on #498
I think maybe you tried to access the layers when the pod was either restarting itself. We didn't get any error indication.

[2022-08-22 10:40] meomancer commented on #498
Hi @ArnaudIGRAC

I didn't do anything, it seems the geoserver was restarting when you accessing it, as @NyakudyaA said

[2022-08-22 10:40] ArnaudIGRAC commented on #498
alright, thank you for your quick feedback!

[2022-08-24 11:04] #478 closed

[2022-08-24 11:04] #494 closed

[2022-08-24 11:05] ArnaudIGRAC commented on #486
Hi Irwan, do you have an answer to Claudia's question?

[2022-08-24 11:06] ArnaudIGRAC commented on #485
Hi @clau1313, is it working now?

[2022-08-30 03:00] meomancer commented on #497
File progress : https://docs.google.com/spreadsheets/u/1/d/1HwOA6hd7jAP4XKeLQIIEiTt2Nh4FoFsgYHgE9BxSloU/edit?usp=sharing&urp=gmail_link

[2022-08-30 05:07] meomancer commented on #486
hi @clau1313
I have checked the code and it is correct and i also have checked on my local and it is also working fine
I want to test it but needs a good data (not sample data)
Maybe in future could you provide me several files for batch upload? so i can check it?

[2022-08-30 10:14] meomancer commented on #497
hi @ArnaudIGRAC @clau1313

For Argentina:
Could you check the flow of data?

I get the stations from : http://www.azul.bdh.org.ar/bdh3/leaflet/index.html
I filter just "POZO" type
![Selection_053](https://user-images.githubusercontent.com/4530905/187410469-40ec5305-b171-4975-99fa-76c66987ed73.png)

Then click : Ampliar Información

It will show the details
![Selection_054](https://user-images.gith

[2022-08-30 14:41] ArnaudIGRAC commented on #487
Hello Irwan, I am checking the staging website and monitoring data are not available
![image](https://user-images.githubusercontent.com/64771599/187466850-7d8df693-42df-459f-ba61-8c4adb44f1ed.png)

[2022-08-30 14:44] ArnaudIGRAC commented on #487
The _who can view_ and _is it downloadable_ options must be removed because anybody will have these two permissions
![image](https://user-images.githubusercontent.com/64771599/187467306-512d4abf-511a-420a-9c61-455cf05e75d4.png)

[2022-08-30 14:50] ArnaudIGRAC commented on #488
Hi Irwan, we laid out several options for downloading the data, which one have you chosen?

[2022-08-30 14:53] ArnaudIGRAC commented on #487
Also for batch upload
![image](https://user-images.githubusercontent.com/64771599/187469497-7177f6c9-ccf0-411c-993f-78509ed1d8b6.png)
where we need instead the following options (just like for adding single records)
![image](https://user-images.githubusercontent.com/64771599/187469659-0262b5ab-1512-467f-a950-cc9e414fa7df.png)

[2022-08-30 15:07] ArnaudIGRAC commented on #490
Here are a few edits to the sign up page:
![image](https://user-images.githubusercontent.com/64771599/187473006-172d2ffe-d98b-4274-aa45-0dee6e4fc7bf.png)

[2022-09-01 07:53] meomancer commented on #487
Hi @ArnaudIGRAC
This has been updated, could you check it?

[2022-09-01 08:23] meomancer commented on #490
@ArnaudIGRAC
This is updated, please check it

[2022-09-01 08:28] ArnaudIGRAC commented on #487
Hi Irwan, in the batch upload panel it should be "Restrictions other" instead of "Constraints other"
![image](https://user-images.githubusercontent.com/64771599/187869046-626bf947-7c3c-4d85-92ee-c87ff9f0f36f.png)

[2022-09-01 08:31] ArnaudIGRAC commented on #490
Hi Irwan, it seems like you haven't made all the edits, only the "username" field has been moved.

[2022-09-01 09:39] meomancer commented on #490
hi @ArnaudIGRAC
Updated, please check it

[2022-09-01 09:40] meomancer commented on #487
hi @ArnaudIGRAC
Updated, please check it

[2022-09-01 10:14] ArnaudIGRAC commented on #490
Thank you Irwan. If you allow me to be picky, I would like to align this part

with the fields below.

[2022-09-01 10:20] ArnaudIGRAC commented on #487
Hi Irwan, the upload panels have been updated but the permissions have not been implemented, see for instance
![image](https://user-images.githubusercontent.com/64771599/187891591-d3bbb2cc-9878-4669-843e-e6221580cc63.png)
I can't access this well without logging in

[2022-09-01 10:24] ArnaudIGRAC commented on #476
Hi @dimasciput and @meomancer Let's use this round of developments to finally solve this issue.

[2022-09-02 01:02] meomancer commented on #490
hi @ArnaudIGRAC
Do you mean is above "Sign Up" button?

[2022-09-02 02:52] meomancer commented on #487
Hi @ArnaudIGRAC
Fixed

[2022-09-02 02:52] meomancer commented on #490
Hi @ArnaudIGRAC
Updated

[2022-09-13 13:13] ArnaudIGRAC opened #499 "upload layers doesn't work"
The procedure for uploading layers seems to have changed. After uploading the files I get this message
![image](https://user-images.githubusercontent.com/64771599/189909893-46668c9b-5e27-4369-8a3d-bf56c9958da5.png)
Clicking on "Continue"brings me to another page where I must select a coordinate reference system, although I uploaded the .prg file with the shapefile.
![image](https://user-images.git

[2022-09-13 13:50] meomancer commented on #499
Hi @ArnaudIGRAC
Could you provide the files?
Because for projection, the extension of file should be .prj

[2022-09-13 14:10] ArnaudIGRAC commented on #499
Hi Irwan, the shapefiles are in this folder
[Burundi.zip](https://github.com/kartoza/IGRAC-GGIS/files/9557878/Burundi.zip)

[2022-09-14 01:41] meomancer commented on #499
Hi @ArnaudIGRAC
It seems it is missing or has wrong format projection
What i have done is load it on qgis, and export it again to shapefile

Here what i have loaded on staging : https://staging.igrac.kartoza.com/layers/geonode_data:geonode:Burundi_HG0

Here is the files that i have re-exported from qgis
[Burundi.zip](https://github.com/kartoza/IGRAC-GGIS/files/9561882/Burundi.zip)

[2022-09-14 09:24] ArnaudIGRAC commented on #499
Thank you Irwan!

[2022-09-14 09:24] #499 closed

[2022-09-14 09:41] ArnaudIGRAC commented on #498
Hi Irwan, I have that same issue again. Layers have been unavailable for 15 minutes now

[2022-09-14 10:08] ArnaudIGRAC opened #500 "style duplicates"
Hi @meomancer , do you know why the styles I upload are duplicated?
![image](https://user-images.githubusercontent.com/64771599/190125579-33882bdf-26b4-476c-9f76-257aac3124ce.png)
Geonode creates duplicates starting with "geonode_". I tried deleting these styles but GeoNode recreates them right after.

[2022-09-22 11:10] ArnaudIGRAC commented on #326
This issue is still pending, cfr #500

[2022-09-27 04:53] meomancer commented on #497
For Norway
Get list in here : https://sildre.nve.no/list
Then the data is on https://sildre.nve.no/station/2.1088.0?2.1088.0.1001_period=fullPeriod&2.1088.0.1001_res=0&2.1088.0.1001_to=2022-03-27&2.1088.0.1001_from=2008-06-14&2.1088.0.1000_period=P1Y&2.1088.0.1000_res=0&2.1088.0.1000_to=2022-09-27&2.1088.0.1000_from=2021-09-27&2.1088.0.1003_period=P1Y&2.1088.0.1003_res=0&2.1088.0.1003_to=2022-09-2

[2022-09-27 07:09] ArnaudIGRAC commented on #497
@clau1313 Can you please tell Irwan which parameters he must import?

[2022-10-03 08:03] ArnaudIGRAC commented on #498
I have this issue again. Never occurred in the past. There is something wrong here, to be addressed.

[2022-10-05 13:28] ArnaudIGRAC opened #502 "Isse download raster"
Dear colleagues,

I have issues downloading this layer
https://ggis.un-igrac.org/layers/2d215b8a-15ad-486a-83e2-ec29a2b79ca7:igrac:gwstress_globalgwstress_gleeson2012

- Downloading the original dataset gives me this error message
![image](https://user-images.githubusercontent.com/64771599/194071791-c105d2d8-f7a8-4e62-a499-7fd617f4a9cb.png)

- Downloading the GeoTiff works but the layer has been m

[2022-10-10 01:25] #487 closed

[2022-10-10 01:25] #489 closed

[2022-10-10 01:50] meomancer opened #504 "Upgrade Geonode"
We decide to upgrade the goenode to version 3
To enable geostories and fix some bugs

PR https://github.com/kartoza/IGRAC-GGIS/pull/503

TODO:
- [x] Deploy this on Staging
- [x] Test it
- [x] Release it to production

---------------------------
Could you provide notes how to upgrade it @dimasciput ?

[2022-10-10 02:15] dimasciput commented on #504
For now it should be normal upgrade process :
- Build from https://github.com/kartoza/IGRAC-GGIS/pull/503
- Deploy using that image
- Do migration

[2022-10-13 11:07] timlinux opened #505 "Move geostories menu"
![image](https://user-images.githubusercontent.com/178003/195580894-20bb09b0-05f4-4ebd-9f3a-58bd1445ba77.png)

@ArnaudIGRAC also please indicate where you would like to put the link / button for the featured story.

[2022-10-13 11:07] timlinux opened #506 "When opening a geostory, it should show in view mode by default"

[2022-10-13 15:29] ArnaudIGRAC commented on #505
The only thing I can think about is a button right under the banner, leading the user to the GeoStory. Something like that
![image](https://user-images.githubusercontent.com/64771599/195639382-a0e8dd5a-0609-4094-8d4a-d3cc4f3e5849.png)

But I am open to any other suggestion! Note that this button will be needed only when our GeoStory is ready, so we have a bit of time to think about it

[2022-10-20 07:25] ArnaudIGRAC commented on #490
![image](https://user-images.githubusercontent.com/64771599/196883393-9c350aca-cee9-42f7-a55d-83112a86e54b.png)
P should be capitalized in "position"

[2022-10-20 07:27] ArnaudIGRAC commented on #488
There are 2 issues:
- you still need to register in order to download the data
- once registered, I can't see any download menu

[2022-10-20 07:33] meomancer opened #509 "Release 2.0.0"
The features:
- [x] Geostory, as well as upgrading geonode to version 3 : https://github.com/kartoza/IGRAC-GGIS/issues/504
- [x] 1 Change permission level : #487
- [x] 2 Update download feature : #488
- [x] 3 Remove upload button : #489
- [x] 5 Registration updates : #490

[2022-10-20 07:36] meomancer commented on #505
I think this is fixed

[2022-10-20 07:45] ArnaudIGRAC commented on #505
We need to remove this button
![image](https://user-images.githubusercontent.com/64771599/196887628-c254a002-52ce-4d2d-b1ab-ad021e77c8ec.png)
for now. it will be needed only when our Groundwater GeoStory is finalized.

[2022-10-20 07:56] meomancer commented on #488
Hi @ArnaudIGRAC

User that are not logged in will not be able to access the url
https://staging.igrac.kartoza.com/groundwater/record/download-request

Could you access it without login?

I can see it after registration
What user did you use?
![Selection_022](https://user-images.githubusercontent.com/4530905/196890221-d3846d1b-2a7e-40c0-aad2-6959555d2b7a.png)

[2022-10-20 08:15] ArnaudIGRAC commented on #488
Hi Irwan,

Well and monitoring data are downloadable by anyone as per #487. No need to register anymore. We might well want to ask the user a few information (in cases on unregistered users),. We will propose a template for that later on.

Why do you need to go to to the top right drop-down menu to download data, while there is already a button for that ?
![image](https://user-images.githubusercon

[2022-10-20 08:23] meomancer commented on #488
Ah, that button is not been updated
Currently the download is through : https://staging.igrac.kartoza.com/groundwater/record/download-request
Because we need information there is form for the user information

We will fix and re-release this for next updates:
- [ ] Update the above button to : https://staging.igrac.kartoza.com/groundwater/record/download-request - Need @dimasciput helps for this
-

[2022-10-25 01:53] meomancer commented on #488
This has been updated @ArnaudIGRAC
Please check it

[2022-10-25 01:53] meomancer commented on #505
This has been updated @ArnaudIGRAC
Please check it

[2022-10-25 07:16] #505 closed

[2022-10-25 08:20] ArnaudIGRAC commented on #488
Thanks Irwan, here are a few comments:

1. The drop-down list under Type of Organization should be as follow:
-	National institution
-	NGO
-	United Nations
-	Other international organization
-	Private company
-	Education and research institution
-	Data and research institution
-	Consultancy
-	Media
-	Civil society
2. We need a field "Country", where the user indicates the country where he is based

[2022-10-25 08:23] ArnaudIGRAC commented on #490
For the sake of consitency, can we add a "Type of organization" field to the registration page, like in the data request page?
![image](https://user-images.githubusercontent.com/64771599/197722251-30718bcd-ba83-4c79-9a3d-4b8031e5c06e.png)

[2022-10-25 08:26] ArnaudIGRAC commented on #488
5. I see that the data request page is identical whether you download GGMN data or bulk well and monitoring data. I just want to make sure that the system makes the distinction between the two datasets

[2022-10-25 09:16] ArnaudIGRAC commented on #488
GGMN data are monitoring data submitted by country organisations (not individuals). They are available here https://ggis.un-igrac.org/view/ggmn
Well and monitoring data are basically all the data in the database, including the GGMN data. They are available here https://ggis.un-igrac.org/view/well-and-monitoring-data

[2022-10-25 09:23] meomancer commented on #488
Ah, ok @ArnaudIGRAC
I will update the download to distinct between them

[2022-10-26 08:29] meomancer commented on #490
Hi @ArnaudIGRAC
This is fixed

[2022-10-26 08:31] meomancer commented on #488
Hi @ArnaudIGRAC
The download request form has been updated
Also user can select between Well and Monitoring Data and GGMN

Currently the cache files are generating, so it will be empty when download the data now
I will check it until tomorrow and notify you the progress of generating cache file

[2022-10-27 07:26] ArnaudIGRAC commented on #488
Hi Irwan, I am not sure to understand the cache issue but we need to move the staging version to production now, remember we have our second work meeting today at 12.45 UTC+1

[2022-11-21 09:57] ArnaudIGRAC commented on #471
Dear colleagues, our colleagues from FAO still have issues fetching layers from the GGIS. Here is their description of the issue, can you please investigate?

_We are having fetching data using the previously provided URL by you ([https://ggis.un-igrac.org/geoserver/wms?REQUEST=GetCapabilities](https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fggis.un-igrac.org%2Fgeoserver%2Fwms%3F

[2022-11-21 10:01] meomancer commented on #471
Hi @ArnaudIGRAC
How do they access it?
I can access the url https://ggis.un-igrac.org/geoserver/wms?REQUEST=GetCapabilities

Maybe the server was down, could you ask them to retry?

[2022-11-21 10:07] ArnaudIGRAC commented on #471
Hi Irwan, the server was not down, it is a long-lasting issue. I still don't understand if the issue is on our side or their side. Our wms service works just fine in any other platform except theirs. When I try to connect on their platform I receive this error message:
Group is not available
An error occurred while invoking GetCapabilities on the WMS server.

If you entered the link manually, plea

[2022-11-21 10:11] ArnaudIGRAC commented on #471
I tried other WMS services and none of them is working, so I suspect the issue is on their side. What do you think?

[2022-11-21 10:26] meomancer commented on #471
I'm not sure @ArnaudIGRAC
I tried to import using my local geonode and also my qgis, and they are working just fine
![Selection_018](https://user-images.githubusercontent.com/4530905/203027084-7848a77f-c7b5-447d-b655-b8d9a1e306ae.png)

Maybe their service is not compatible with our wms?

Hi @NyakudyaA  Could you give us insight?

[2022-11-23 06:46] NyakudyaA commented on #471
This issue is from their side. I suggest they fix their code to allow normal passing of WMS get capabilities documents.
![ows](https://user-images.githubusercontent.com/2510900/203486407-d5e8208c-6b5c-4ece-9cf2-4b1a3196f0d1.png)

If you look at the screenshot above it shows two main errors
1) The URL is incorrectly flagged as a ArcGIS Feature Service while it's just a simple OGC WMS request
2) The

[2022-11-23 08:19] ArnaudIGRAC commented on #471
Thank you both, I forwarded your answer to our partners

[2022-11-23 08:19] #471 closed

[2022-11-23 08:32] ArnaudIGRAC opened #511 "Slight change viewers?"
Dear colleagues, I have the feeling that the map viewers have slightly changed.

1. The url address of the viewers now contains a "#" sign, see e.g. https://ggis.un-igrac.org/maps/1838/view#/
2. The cursor is a hand, I think ti was an arrow before.

[2022-11-30 04:25] meomancer commented on #511
Could you check this @dimasciput ?

[2022-11-30 04:26] meomancer commented on #506
Could you check this if this is implemented @dimasciput ?

[2022-11-30 10:46] ArnaudIGRAC commented on #488
Download doesn't seem to work. I tried to download data from Austria but the zip files are empty.

[2022-11-30 10:48] meomancer commented on #488
Hi @ArnaudIGRAC
I'm still working on new version of download
Please wait for the new version to be been deployed (my target is this week)

[2022-11-30 11:59] meomancer commented on #504
This has been deployed

[2022-11-30 11:59] #504 closed